<div class="py-[10px] px-[16px] flex justify-between border-b border-b-[#ECECEC] sticky top-0 bg-white z-[10]" style="z-index:12">
    <h1>

        <a class="flex gap-[6px] items-center" href="/">
            <img src="~/Content/assets/images/logo.svg" class="h-[24px]" alt='logo' />
        </a>
    </h1>

    <div class="flex gap-4">
        @if (@Session["Username"] != null)
        {
            <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" onclick="window.location.href='@Url.Action("ViewAllNotifications","NotificationManagement")'">
                <i class="las la-bell relative" style="color:#d75a88" id="notification-bell-id">
                    @if (Session["NotificationUnReadCount"] != null && Convert.ToInt32(Session["NotificationUnReadCount"].ToString()) > 0)
                    {
                        <span class="h-[5px] w-[5px] bg-red rounded-full border-[1px] border-[#E8E0C6] absolute top-[4px] right-[3px]" style="display:block;"></span>
                    }
                    else
                    {
                        <span class="h-[5px] w-[5px] bg-red rounded-full border-[1px] border-[#E8E0C6] absolute top-[4px] right-[3px]" style="display:none;"></span>
                    }
                </i>
            </div>
        }
        @if (@Session["Username"] != null)
        {
            <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" data-drawer-target="drawer-right-example"
                 data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
                <i class="las la-bars" style="color:#d75a88"></i>
            </div>
        }
        else
        {
            <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" onclick="window.location.href='/login'">
                <i class="las la-bars" style="color:#d75a88"></i>
            </div>
        }
    </div>
</div>