<div class="py-[10px] px-[16px] flex justify-between border-b border-b-[#ECECEC] sticky top-0 bg-white z-[10]" style="z-index:12">
    <div class="flex gap-[6px] items-center" onclick="window.location.href='/'">
        <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem"><i class="las la-angle-left"  style="color:#d75a88"></i></div>
        <div class="text-charcoalBlack text-sm">(0)</div>
        <div class="text-charcoalBlack text-sm">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Notifications</div>
    </div>
    <div class="flex gap-4">

        <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" data-drawer-target="drawer-right-example"
             data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
            <i class="las la-bars"  style="color:#d75a88"></i>
        </div>
    </div>

</div>