.border-custom > div {
  border-right: 1px solid #efefef;
  width: 100%;
  text-align: center;
  padding: 4px 0px;
}
.border-custom > div:first-child {
  border-left: 1px solid #efefef;
}
.store-top-image-title {
  font-size: 10px;
  position: absolute;
  background-color: #ffffffe6;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  text-align: center;
  border-radius: 4px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innercontainer {
  position: relative;
}
.locationimage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.locationtext {
  /* z-index: 100; */
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

#resbutn {
  border-radius: 8px;
  /* border: 1px solid var(--linear, #99AEFB); */
  background: var(
    --linear,
    linear-gradient(96deg, #99aefb 10%, #f04aa4 61.32%, #e7b282 98.78%)
  );
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
#container_image {
  position: relative;
}
#label {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0%;
  margin-top: 5px;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 51;
}
#resbutn2 {
  border-radius: 8px;
  /* border: 1px solid var(--linear, #99AEFB); */
  background-color: #cc527a;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
#owl-demo .item {
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation {
  text-align: center;
}
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#owl-demo .item {
  margin: 3px;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.center-image-slider .owl-dots {
  margin-top: 0px !important;
}
.review-experience {
  border-radius: 44px;
  border: 1px solid #a1a1aa;
  color: #a1a1aa;
  display: inline-flex;
  padding: 6px 11px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;
}
.review-experience.active {
  border: 1px solid #f4a3c3 !important;
  background: #f4a3c3;
  color: #fff;
}

.review-experience.dotted {
  border: 1px dotted #a1a1aa;
}
.review-experience.blue-dotted {
  border: 1px dotted #8e91cf;
  color: #8e91cf;
}

.review-select-qtn {
  border-radius: 5px;
  border: 1px solid #e4dcdc;
  padding: 18px 16px;
  background: #fff;
  box-shadow: 1px 3px 3px 0px rgba(175, 136, 160, 0.16);
  font-size: 11px;
  font-weight: 700;
}
.review-select-qtn .image {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.review-select-qtn .text {
  text-align: center;
}

.review-select-qtn .unactive-image {
  display: block;
}
.review-select-qtn .active-image {
  display: none;
}
.review-select-qtn.active .unactive-image {
  display: none;
}
.review-select-qtn.active .active-image {
  display: block;
}
.review-select-qtn.text-primary.active {
  border: 1px solid #d75a8b;
  background: #d75a8b;
  color: #fff;
}
.review-select-qtn.text-primary.active {
  border: 1px solid #d75a8b;
  background: #d75a8b;
  color: #fff;
}
.review-select-qtn.text-green.active {
  border: 1px solid #33af31;
  background: #33af31;
  color: #fff;
}
.review-select-qtn.text-blue.active {
  border: 1px solid #5578d2;
  background: #5578d2;
  color: #fff;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 36px;
}

.rating > div {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  color: #efefef;
}
.rated {
  color: #f89336 !important;
}

.rating-review {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  line-height: 12px;
}

.rating-review > div {
  display: inline-block;
  cursor: pointer;
  color: #7e6d5e;
}
.rated-review {
  color: #f89336 !important;
}
.rating-default {
  display: flex;
  align-items: center;
}

.rating-default > div {
  display: inline-block;
  cursor: pointer;
  color: #7e6d5e;
}
.rated-default {
  color: #f89336 !important;
}
.text-ellipsis-customer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
