.language-option {
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  display: flex;
  height: 48px;
  padding: 16px;
  font-weight: 600;

  align-items: center;
  font-size: 14px;
  gap: 8px;
  cursor: pointer;
}
.language-option .circle-active {
  display: none;
}
.language-option .circle {
  display: block;
}
.language-option.active .lang {
  color: black;
}
.language-option.active {
  border: 1px solid var(--primary, #d75a8b);
  color: var(--primary);
  font-weight: 600;
}
.language-option.active .circle-active {
  display: block;
}
.language-option.active .circle {
  display: none;
}
#container-main {
  position: relative;
}

#fixedpos {
  position: absolute;
  bottom: 32px;
  justify-content: center;
  left: 0;
  right: 0;
  width: 90%;
  padding-left: 16px;
  padding-right: 16px;
}
.photocontainer {
  height: 64px;
  width: 64px;
  position: relative;
}
.profileimage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.editoption {
  margin-left: 44px;
  margin-top: 44px;
  height: 24px;
  width: 24px;
  border-radius: 55px;
  justify-items: center;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
#hostcontainer {
  height: 180px;
  width: 128px;
  position: relative;
}
#hostimage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#fav {
  z-index: 1;
  position: relative;
  margin-left: 90px;
  border-radius: 55px;
  justify-items: center;
}
#camera {
  padding-top: 4px;
  margin-left: 2px;
  color: #8d8d8d;
}
/* Style the tab */
.toggle .wrapper {
  background-color: white;
  color: black;
}
.toggle .buttonWrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
}
.toggle button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;

  cursor: pointer;
  border-bottom: 3px solid #efefef;
  /* transition: 0.5s; */
}
.toggle button:hover {
  background-color: #d5e3ff;
}
.toggle button.active {
  background-color: white;
  border-bottom: 4px solid var(--Darker_Primary, #d75a8b);
}
.toggle .active {
  background-color: white;
  border-color: #e3a1a1;
}
.toggle p {
  text-align: left;
}
.toggle .content {
  display: none;
}
.toggle .content.active {
  display: block;
}
.buttonIn {
  position: relative;
}

.buttonIn input {
  margin: 0px;
  padding: 21px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
}

.buttonIn button {
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 8px;
  padding-right: 7px;
  height: 30px;
  cursor: pointer;
  color: white;
}
.searchbutton .wrapper {
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.searchbutton .buttonWrapper {
  display: grid;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--1_Creamy_Beige_Secondary, #efefef);
}
#toglbutton {
  font-size: 14px;
  height: 32px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
#toglbutton2 {
  font-size: 14px;
  height: 32px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

/* .searchbutton #toglbutton  {
  width:126px;
  height: 19px;
  font-size: 14px;
  padding: 10px 26px;
  align-items: center;
justify-content: center;
align-items: center;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 10px;
 
  cursor: pointer;
} */
/* .searchbutton #toglbutton2  {
  width:160px;
  padding: 10px 26px;
  align-items: center;
justify-content: center;
align-items: center;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 10px;
 
  font-size: 18px;
  cursor: pointer;
} */

.searchbutton button:hover {
  background-color: #d5e3ff;
}

.searchbutton button.active {
  border: 1px solid #d75a8b;
  background-color: #d75a8b;
  color: #d75a8b;
  color: white;
}

.searchbutton .active {
  background-color: white;
}

.searchbutton p {
  text-align: left;
}

.searchbutton .content {
  display: none;
}

.searchbutton .content.active {
  display: block;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--Secondary-Text-I, #333);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid;
  border-color: #efefef;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: #d75a8b;
  border-radius: 3px;
  border: 0px solid;
  border-color: #efefef;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  background: #d75a8b;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d75a8b;
}
.boxedthird {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.boxedthird label {
  display: flex;
  flex-direction: row;
  color: #333;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 32px;
  border: solid 1px #e6e6e6;
  border-radius: 50px;
  justify-content: center;
  padding: 5px 8px;
}
#dayicon,
#nighticon {
  padding-bottom: 4px;
}

.boxedthird input[type="radio"] {
  display: none;
}

.boxedthird input[type="radio"]:checked + label {
  fill: white;
  color: white;
  background: var(--Day, #697dbf);
}

.boxedthird input[type="radio"]:checked + label svg {
  fill: white;
}
.boxedsecond {
  display: flex;
  justify-content: space-between;
}
.boxedsecond label {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  width: 100px;
  height: 32px;
  border: solid 1px #e6e6e6;
  border-radius: 50px;
  justify-content: center;
  line-height: 2;
}

.boxedsecond input[type="radio"] {
  display: none;
}

.boxedsecond input[type="radio"]:checked + label {
  border: solid 1px #d75a8b;
  color: #d75a8b;
}

.boxedblood {
  display: flex;
  justify-content: space-between;
}
.boxedblood label {
  display: flex;
  flex-direction: row;
  width: 170px;
  height: 32px;
  padding-left: 21px;
  padding-right: 21px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  justify-content: center;
  line-height: 2;
}

.boxedblood input[type="radio"] {
  display: none;
}

.boxedblood input[type="radio"]:checked + label {
  border: solid 1px #d75a8b;
  color: #d75a8b;
}

.boxedconstellation {
  display: flex;
  justify-content: space-between;
}
.boxedconstellation label {
  display: flex;
  flex-direction: row;
  height: 32px;
  padding-left: 21px;
  padding-right: 21px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  justify-content: center;
  line-height: 2;
}

.boxedconstellation input[type="radio"] {
  display: none;
}

.boxedconstellation input[type="radio"]:checked + label {
  border: solid 1px #d75a8b;
  color: #d75a8b;
}

.boxedliquor {
  display: flex;
  justify-content: space-between;
}
.boxedliquor label {
  display: flex;
  flex-direction: row;
  height: 32px;
  padding-left: 21px;
  padding-right: 21px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  justify-content: center;
  line-height: 2;
}

.boxedliquor input[type="radio"] {
  display: none;
}

.boxedliquor input[type="radio"]:checked + label {
  border: solid 1px #d75a8b;
  color: #d75a8b;
}
.boxedoccupation {
  display: flex;
  justify-content: space-between;
}
.boxedoccupation label {
  display: flex;
  flex-direction: row;
  height: 32px;
  padding-left: 21px;
  padding-right: 21px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  justify-content: center;
  line-height: 2;
}

.boxedoccupation input[type="radio"] {
  display: none;
}

.boxedoccupation input[type="radio"]:checked + label {
  border: solid 1px #d75a8b;
  color: #d75a8b;
}
