
@{
    ViewBag.Title = "Maintenance";
    /* Layout = "~/Views/ProfileManagement/ChangePassword.cshtml";*/
}

<link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>

<div class="h-screen overflow-hidden">

    <div class='flex justify-center ' style="padding:19px 0">

        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="23" viewBox="0 0 81 23" fill="none">
            <path d="M0 19.655C0.525783 17.3929 0.82658 13.8812 0.902391 9.11976H3.62424C3.52886 14.0206 3.23785 17.5837 2.75119 19.8115L0 19.6574V19.655ZM7.65198 6.10201V21.4745H4.95704V6.10201H0.144285V3.56113H4.95948V0.298828H7.65443V3.56113H12.3253V6.10201H7.65443H7.65198ZM9.94587 12.7318C9.97521 12.1815 9.85538 11.6998 9.58882 11.2865C9.32226 10.8732 8.9481 10.4917 8.47123 10.1395L10.6208 8.64289C11.1173 9.02928 11.599 9.55506 12.0686 10.2153C12.5357 10.8781 12.7558 11.6509 12.7289 12.5361V19.6281H9.94831V12.7293L9.94587 12.7318Z" fill="#231815" />
            <path d="M29.8171 11.2478C30.8491 11.4899 31.6537 12.0524 32.2308 12.9377C32.8079 13.823 33.0965 14.9919 33.0965 16.4445V21.448H30.4603V16.5081C30.5556 15.5715 30.4358 14.8427 30.1032 14.3218C29.7682 13.8009 29.3304 13.4977 28.7851 13.4121L22.6811 21.9494L20.375 20.685L26.2222 12.5611C26.8996 11.7027 27.3912 10.6267 27.6919 9.3379C27.9927 8.04912 28.0955 6.95108 28.0001 6.04869H20.8641V3.50781H30.9078V5.68675C30.9176 7.80945 30.5532 9.66315 29.8195 11.2454L29.8171 11.2478Z" fill="#231815" />
            <path d="M42.3984 3.56055H53.8752V21.447H42.3984V3.56055ZM45.1203 6.15278V18.8547H51.1387V6.15278H45.1203Z" fill="#D75A8B" />
            <path d="M72.1564 6.07464H67.642C66.8203 8.97989 65.7027 11.4352 64.2892 13.438L61.8828 12.1737C62.8953 10.7211 63.7707 8.92853 64.5117 6.79605C65.2527 4.66357 65.8225 2.39904 66.2236 0L68.9601 0.374162L68.2876 3.53375H75.0372V9.7111C75.0665 10.8385 74.5628 12.2397 73.5259 13.9223C72.489 15.6023 70.0092 18.4073 66.0817 22.3372L63.9762 20.6865C67.7691 16.8691 70.0899 14.3233 70.941 13.0443C71.792 11.7678 72.198 10.5964 72.1588 9.53013V6.07464H72.1564ZM76.886 0.349705H78.2335V3.8321H76.886V0.349705ZM79.6518 0.349705H80.9993V3.8321H79.6518V0.349705Z" fill="#D75A8B" />
        </svg>

    </div>


    <div class=' h-screen bg-[#EFEFEF] flex flex-col items-center ' style="padding-top:143px; background: #EFEFEF">
        <div>
            <img src="~/Content/assets/images/customer/maintenance.svg" />
        </div>
        <div class=' font-[400] text-[#BCB08A] mb-[18px]' style="font-size: 30px; font-family: 'Caveat';">Maintenance</div>

        <div>
            <p class='font-bold text-[18px] text-center'>ただいまメンテナンス中です </p>

            <div class="text-[13px] font-[400] text-[#333] flex flex-col items-center" style="margin-top:10px">

                <p>ホスログをご利用いただきまして、誠にありがとう</p>
                <p>ございます。ただいまメンテナンス作業のため、</p>
                <p>サービスを一時休止しております。</p>
                <p>終了までしばらくお待ち下さい。</p>
            </div>
        </div>

        <div class="mt-6">
            <p class="font-bold text-[14px]">お問い合わせ先</p>
            <p class="font-[400] text-[13px]">info@hoslog.jp</p>

        </div>
    </div>


</div>

