@{
    ViewBag.Title = "Customer Voice";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    var MetaClubCount = ViewBag.MetaClubCount;
    var MetaHostCount = ViewBag.MetaHostCount;
    var metaContent = $"業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びが簡単に☆接客リクエストで推しホストに出会いやすい！歌舞伎町を中心に全国から厳選した{MetaClubCount}件のホストクラブ・{MetaHostCount}人のホスト情報を掲載中！";
}
<meta name="description" content="@metaContent">
<!-- breadcrum -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="/login" class="active">ホーム</a>
    <i class="las la-angle-right"></i>
    <a href="#">利用者の声</a>
</div>

<div class="grid  mx-[16px] mt-[16px] mb-[16px]">
    <!-- Title start -->
    <div class="bg-[#FBFBFB] ">
        <div style="line-height: 38px; margin-bottom: 8px" class=" font-[600] grid text-[24px] text-[#101828] flex-row justify-center">
            <div class="flex flex-row justify-center">
                利用者の声
            </div>
            <div style="line-height: 24px;" class="font-[400] justify-center text-[12px] text-[#667085] ">
                お客様が私たちについてどう思っているか
            </div>
        </div>
    </div>
    <!-- Title end -->
    <!-- first -->
    <div class="grid gap-[12px]" style="margin-top:28px; margin-bottom:36px;">
        <div style="border: 0.5px solid rgba(255, 182, 193, 0.50); background-color:#FFECEC; border-radius: 4px;" class="grid gap-[12px] bg-[#FFECEC] px-[16px]">
            <div class="pb-[16px]">
                <div style="height: 45px; color:#F04AA4;" class=" flex flex-row justify-center  text-[40px]">
                    ”
                </div>

                <div class="flex text-[10px] text-justify flex-row justify-center">
                    最初はネットで調べてみたのですが、何なのか分からず、なかなか行けませんでした。その時これを見つけた電話をかけるのが緊張していたので, ウエブサイトから予約することができました。様々なお店を最初の価格で提案することで、ホストとしてデビューすることができました。連絡しやすいところが好きです。
                </div>

                <div class="flex flex-row gap-[8px] justify-end  mt-[12px]">
                    <div class="flex flex-col">
                        <div class="text-[12px]">
                            結衣 さん
                        </div>
                        <div class="flex flex-row justify-end text-[#667085] text-[10px]">
                            24、看護師
                        </div>
                    </div>

                    <div class="h-[30px] w-[30px]">
                        <img class="rounded-full" src="~/Content/assets/images/customer/proficon.png" alt="icon ">
                    </div>
                </div>
            </div>
        </div>
        <!-- first -->
        <!-- second -->
        <div style="border-radius: 4px;" class="grid gap-[12px] bg-[#F4F4F4]  px-[16px] ">
            <div class="pb-[16px]">
                <div style="height: 45px;color:#F04AA4" class=" flex flex-row justify-center text-[#F04AA4] text-[40px]">
                    ”
                </div>

                <div class="flex text-[10px] text-justify flex-row justify-center">
                    ホスト初体験でしたがホスログさんでサポートしてもらったおかげでスムーズにホストクラブに行けました！どうやって行ったらいいのかわからず、直接店舗に行くのも勇気がいるし迷ってましたが、電話一本で理想通りのお店を紹介して貰えて良かったです！店舗側に初めてのホストだと言うことも伝えて貰っていたので気遣いがあるな…と思いました！
                </div>

                <div class="flex flex-row gap-[8px] justify-end  mt-[12px]">
                    <div class="flex flex-col">
                        <div class="text-[12px]">
                            なつみ さん
                        </div>
                        <div class="flex flex-row justify-end text-[#667085] text-[10px]">
                            21、事務員
                        </div>
                    </div>

                    <div class="h-[30px] w-[30px]">
                        <img class="rounded-full" src="~/Content/assets/images/customer/proficon.png" alt="icon ">
                    </div>
                </div>
            </div>
        </div>

        <!-- second -->
        <!-- third -->
        <div style="border: 0.5px solid rgba(255, 182, 193, 0.50); background-color:#FFECEC; border-radius: 4px;" class="grid gap-[12px] bg-[#FFECEC] px-[16px]">
            <div class="pb-[16px]">
                <div style="height: 45px; color:#F04AA4" class=" flex flex-row justify-center  text-[40px]">
                    ”
                </div>

                <div class="flex text-[10px] text-justify flex-row justify-center">
                    仕事で歌舞伎町に来る度ホストに声をかけられるのは怖いと感じていました。半面、声を掛けて来る子がイケメンで正直興味もありました。このサイトに『初めてのホスト遊びを安全にサポートします』と書いてあるのを見かけ、思い切って予約をしてみました。丁寧に行きやすいお店を紹介して貰い、イケメンと楽しく話せたし、ホストの印象が凄く変わりました。
                </div>

                <div class="flex flex-row gap-[8px] justify-end  mt-[12px]">
                    <div class="flex flex-col">
                        <div class="text-[12px]">
                            早織 さん
                        </div>
                        <div class="flex flex-row justify-end text-[#667085] text-[10px]">
                            26,不動産
                        </div>
                    </div>

                    <div class="h-[30px] w-[30px]">
                        <img class="rounded-full" src="~/Content/assets/images/customer/proficon.png" alt="icon ">
                    </div>
                </div>
            </div>
        </div>
        <!-- third -->
        <!-- fourth -->
        <div style="border-radius: 4px;" class="grid gap-[12px] bg-[#F4F4F4]  px-[16px] ">
            <div class="pb-[16px]">
                <div style="height: 45px;color:#F04AA4" class=" flex flex-row justify-center text-[#F04AA4] text-[40px]">
                    ”
                </div>

                <div class="flex text-[10px] text-justify flex-row justify-center">
                    飲んで酔っぱらっている時に声を掛けられ、ホストについて行く形で初回を使ったことが何度かあります。本格的にお店の比較をしたことは無かったのですが、ある日ふとホスト情報を見てみようとスマホを開いたところ、ホスログさんを見つけました！試しに事前予約したところ今までのホストよりも断然(笑)楽しめる相性の良いお店を紹介して貰い驚きました!
                </div>

                <div class="flex flex-row gap-[8px] justify-end  mt-[12px]">
                    <div class="flex flex-col">
                        <div class="text-[12px]">
                            姫 さん
                        </div>
                        <div class="flex flex-row justify-end text-[#667085] text-[10px]">
                            <!-- 24、フリーター -->
                        </div>
                    </div>

                    <div class="h-[30px] w-[30px]">
                        <img class="rounded-full" src="~/Content/assets/images/customer/proficon.png" alt="icon ">
                    </div>
                </div>
            </div>
        </div>
        <!-- fourth -->
        <!-- fifth -->
        <div style="border: 0.5px solid rgba(255, 182, 193, 0.50); background-color:#FFECEC; border-radius: 4px;" class="grid gap-[12px] bg-[#FFECEC] px-[16px]">
            <div class="pb-[16px]">
                <div style="height: 45px; color:#F04AA4" class=" flex flex-row justify-center  text-[40px]">
                    ”
                </div>

                <div class="flex text-[10px] text-justify flex-row justify-center">
                    ホストクラブ常連です★今回、友人の誕生日をホストでお祝いすることにしたんですが、私が通ってる店舗は団体接客はNGでした…(;´Д｀)ホス案さんにはバースデープランの他にも、グループ向けのパーティープランが沢山用意されていたので、ネットで見つけた時すぐにお願いしました！シャンコあり・ケーキ持ち込みOK^^で当日はカナリ盛り上がり友人も喜んでいて良かったです～♫
                </div>

                <div class="flex flex-row gap-[8px] justify-end  mt-[12px]">
                    <div class="flex flex-col">
                        <div class="text-[12px]">
                            アンナ さん
                        </div>
                        <div class="flex flex-row justify-end text-[#667085] text-[10px]">
                            26,キャバ嬢
                        </div>
                    </div>

                    <div class="h-[30px] w-[30px]">
                        <img class="rounded-full" src="~/Content/assets/images/customer/proficon.png" alt="icon ">
                    </div>
                </div>
            </div>
        </div>
        <!-- fifth -->
    </div>
</div>