
@{
    ViewBag.Title = "お問い合わせ ‖ ホスログ ||◤推しホストが見つかる◢|| ホストクラブ初回来店・ネット予約";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    var MetaClubCount = ViewBag.MetaClubCount;
    var MetaHostCount = ViewBag.MetaHostCount;
    var metaContent = $"業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びが簡単に☆接客リクエストで推しホストに出会いやすい！歌舞伎町を中心に全国から厳選した{MetaClubCount}件のホストクラブ・{MetaHostCount}人のホスト情報を掲載中！";
}
<meta name="description" content="@metaContent">

<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="/login" class="active">ホーム</a>
    <i class="las la-angle-right"></i>
    <a href="#">お問い合わせ</a>
</div>
<div  class="grid ">
    <div>


        @*  <div class="grid mt-[12px] mb-[16px]">
                <div class="flex flex-row justify-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_7434_61512)">
                                <path opacity="0.2"
                                      d="M7.5 13.5V17.25C7.5 17.4489 7.57902 17.6397 7.71967 17.7803C7.86032 17.921 8.05109 18 8.25 18H17.2894L21 21V9C21 8.80109 20.921 8.61032 20.7803 8.46967C20.6397 8.32902 20.4489 8.25 20.25 8.25H16.5V12.75C16.5 12.9489 16.421 13.1397 16.2803 13.2803C16.1397 13.421 15.9489 13.5 15.75 13.5H7.5Z"
                                      fill="#D75A8B" />
                                <path d="M6.71063 13.5L3 16.5V4.5C3 4.30109 3.07902 4.11032 3.21967 3.96967C3.36032 3.82902 3.55109 3.75 3.75 3.75H15.75C15.9489 3.75 16.1397 3.82902 16.2803 3.96967C16.421 4.11032 16.5 4.30109 16.5 4.5V12.75C16.5 12.9489 16.421 13.1397 16.2803 13.2803C16.1397 13.421 15.9489 13.5 15.75 13.5H6.71063Z"
                                      stroke="#D75A8B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.5 13.5V17.25C7.5 17.4489 7.57902 17.6397 7.71967 17.7803C7.86032 17.921 8.05109 18 8.25 18H17.2894L21 21V9C21 8.80109 20.921 8.61032 20.7803 8.46967C20.6397 8.32902 20.4489 8.25 20.25 8.25H16.5"
                                      stroke="#D75A8B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_7434_61512">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="leading-[38px] text-[#101828]">
                        お問い合わせ
                    </div>


                </div>
                <div class="text-[12px] flex flex-row justify-center text-[#667085]">
                    ご質問のために私たちに連絡してください
                </div>

            </div>
            <div class=" grid gap-[20px]   ">

                <div class="grid grid-cols-2 gap-[32px] ">


                    <div class="flex flex-col ">
                        <div class="flex flex-row gap-[8px]">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8 2C4.69133 2 2 4.69133 2 8C2 11.3087 4.69133 14 8 14C11.3087 14 14 11.3087 14 8C14 4.69133 11.3087 2 8 2ZM8 3C10.7673 3 13 5.23267 13 8C13 10.7673 10.7673 13 8 13C7.34309 13.0011 6.69244 12.8724 6.08534 12.6215C5.47823 12.3706 4.92662 12.0024 4.46212 11.5379C3.99761 11.0734 3.62936 10.5218 3.37846 9.91466C3.12756 9.30756 2.99895 8.65691 3 8C3 5.23267 5.23267 3 8 3ZM7.5 4V8.5H11V7.5H8.5V4H7.5Z"
                                          fill="#D75A8B" />
                                </svg>
                            </div>
                            <div class="text-[#D75A8B] text-[12px]">
                                営業時間
                            </div>
                        </div>

                        <div class="text-[#333] text-[12px] text-[400]">
                            15:00時 - 19:00時
                        </div>

                    </div>
                    <div class="flex flex-row ">
                        <div style="margin-right: 16px;" class="w-[1px] bg-[#EFEFEF] pr-[10px]">
                        </div>
                        <div class="flex flex-col ">
                            <div class="flex flex-row gap-[8px]">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                        <path d="M2 4V13H15V4H2ZM4.15625 5H12.8438L8.5 7.89062L4.15625 5ZM3 5.4375L8.21875 8.92188L8.5 9.09375L8.78125 8.92188L14 5.4375V12H3V5.4375Z"
                                              fill="#D75A8B" />
                                    </svg>
                                </div>
                                <div class="text-[#D75A8B] text-[12px]">
                                    Eメール
                                </div>
                            </div>

                            <div class="text-[#333] text-[12px] text-[400]">
                                info@hoslog.jp
                            </div>

                        </div>
                    </div>

                </div>


                <div class="grid grid-cols-2 gap-[32px] ">
                    <div class="flex flex-col ">
                        <div class="flex flex-row gap-[8px]">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8 1.5C5.52148 1.5 3.5 3.52148 3.5 6C3.5 6.70312 3.78516 7.50977 4.17188 8.39062C4.55859 9.27148 5.05664 10.207 5.5625 11.0781C6.57422 12.8223 7.59375 14.2812 7.59375 14.2812L8 14.875L8.40625 14.2812C8.40625 14.2812 9.42578 12.8223 10.4375 11.0781C10.9434 10.207 11.4414 9.27148 11.8281 8.39062C12.2148 7.50977 12.5 6.70312 12.5 6C12.5 3.52148 10.4785 1.5 8 1.5ZM8 2.5C9.93945 2.5 11.5 4.06055 11.5 6C11.5 6.40039 11.2852 7.1582 10.9219 7.98438C10.5586 8.81055 10.0566 9.72656 9.5625 10.5781C8.77734 11.9336 8.28906 12.6504 8 13.0781C7.71094 12.6504 7.22266 11.9336 6.4375 10.5781C5.94336 9.72656 5.44141 8.81055 5.07812 7.98438C4.71484 7.1582 4.5 6.40039 4.5 6C4.5 4.06055 6.06055 2.5 8 2.5ZM8 5C7.44727 5 7 5.44727 7 6C7 6.55273 7.44727 7 8 7C8.55273 7 9 6.55273 9 6C9 5.44727 8.55273 5 8 5Z"
                                          fill="#D75A8B" />
                                </svg>
                            </div>
                            <div class="text-[#D75A8B] text-[12px]">
                                住所
                            </div>
                        </div>

                        <div class="text-[#333] text-justify text-[12px] text-[400]">
                            〒160-0021 東京都新宿区歌舞伎町2-31-7 慶北ビル3F

                        </div>

                    </div>
                    <div class="flex flex-row">
                        <div style="margin-right: 16px;" class="w-[1px] bg-[#EFEFEF] ">

                        </div>
                        <div class="flex flex-col ">
                            <div class="flex flex-row gap-[8px]">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                        <path d="M3.94339 1C3.16399 1.00401 2.41766 1.31541 1.86653 1.86653C1.31541 2.41766 1.00401 3.16399 1 3.94339V12.0566C1.00401 12.836 1.31541 13.5823 1.86653 14.1335C2.41766 14.6846 3.16399 14.996 3.94339 15H12.0566C12.836 14.996 13.5823 14.6846 14.1335 14.1335C14.6846 13.5823 14.996 12.836 15 12.0566V3.94424C14.996 3.16484 14.6846 2.41851 14.1335 1.86738C13.5823 1.31626 12.836 1.00486 12.0566 1.00085H3.94424L3.94339 1ZM3.94339 2.27273H12.0566C12.9815 2.27273 13.7273 3.01855 13.7273 3.94339V12.0566C13.7273 12.9815 12.9815 13.7273 12.0566 13.7273H3.94424C3.72475 13.7276 3.50736 13.6846 3.30451 13.6008C3.10166 13.5169 2.91736 13.3939 2.76216 13.2387C2.60695 13.0835 2.4839 12.8992 2.40006 12.6963C2.31622 12.4935 2.27324 12.2761 2.27358 12.0566V3.94424C2.27358 3.01939 3.01939 2.27358 3.94424 2.27358L3.94339 2.27273ZM8 3.68461C5.44436 3.68461 3.36727 5.3697 3.36727 7.44339C3.36727 9.30242 5.01673 10.8484 7.24485 11.1428C7.39588 11.1742 7.59018 11.2514 7.64194 11.3804C7.68946 11.4975 7.67673 11.679 7.6623 11.7987C7.6623 11.7987 7.61479 12.1262 7.60291 12.1958C7.58255 12.3128 7.50533 12.6633 8 12.4545C8.49467 12.2458 10.6676 10.8679 11.64 9.74958C12.3103 9.01394 12.6327 8.27321 12.6327 7.44339C12.6327 5.3697 10.5556 3.68461 8 3.68461ZM5.27636 6.34885C5.40958 6.34885 5.51394 6.45406 5.51394 6.58812V8.17903H6.19018C6.32424 8.17903 6.42861 8.30291 6.42861 8.43782C6.42883 8.46908 6.42284 8.50008 6.41098 8.529C6.39912 8.55793 6.38163 8.58421 6.35952 8.60631C6.33742 8.62842 6.31114 8.64591 6.28221 8.65777C6.25329 8.66963 6.22229 8.67562 6.19103 8.67539H5.27467C5.14061 8.67539 5.01588 8.57188 5.01588 8.43782V6.58812C5.01588 6.45406 5.14061 6.3497 5.27467 6.3497L5.27636 6.34885ZM6.90545 6.34885C7.04121 6.34885 7.14473 6.45406 7.14473 6.58812V8.43782C7.14495 8.46915 7.13894 8.50022 7.12702 8.5292C7.11511 8.55818 7.09755 8.5845 7.07535 8.60662C7.05315 8.62874 7.02677 8.64621 6.99775 8.65802C6.96872 8.66983 6.93764 8.67573 6.9063 8.67539C6.77224 8.67539 6.64752 8.57188 6.64752 8.43782V6.58812C6.64752 6.45406 6.77224 6.3497 6.9063 6.3497L6.90545 6.34885ZM7.6623 6.34885C7.68691 6.34206 7.71661 6.34885 7.74121 6.34885C7.81588 6.34885 7.87612 6.38703 7.92024 6.44897L8.87479 7.7217V6.58812C8.87479 6.45406 8.97915 6.3497 9.11321 6.3497C9.24812 6.3497 9.35248 6.45406 9.35248 6.58727V8.43697C9.35402 8.486 9.33917 8.53414 9.31028 8.57379C9.28139 8.61343 9.24011 8.64232 9.19297 8.65588C9.16836 8.66436 9.13867 8.67624 9.11321 8.67624C9.07474 8.67595 9.03684 8.66685 9.00242 8.64965C8.968 8.63244 8.93799 8.60758 8.91467 8.57697L7.98049 7.28388V8.43782C7.98071 8.46922 7.97467 8.50036 7.9627 8.5294C7.95074 8.55844 7.9331 8.58479 7.91081 8.60692C7.88852 8.62905 7.86204 8.64651 7.83292 8.65827C7.80379 8.67002 7.77262 8.67585 7.74121 8.67539C7.60715 8.67539 7.48327 8.57188 7.48327 8.43782V6.58812C7.48542 6.53503 7.50359 6.48384 7.5354 6.44128C7.5672 6.39872 7.61115 6.36679 7.66145 6.3497L7.6623 6.34885ZM9.92861 6.34885H10.8441C10.9782 6.34885 11.0817 6.45406 11.0817 6.58812C11.082 6.61945 11.0761 6.65054 11.0643 6.67957C11.0525 6.70859 11.035 6.73497 11.0129 6.75717C10.9908 6.77936 10.9645 6.79693 10.9355 6.80884C10.9065 6.82076 10.8755 6.82677 10.8441 6.82655H10.1679V7.26436H10.8441C10.9782 7.26436 11.0817 7.36873 11.0817 7.50279C11.0817 7.63685 10.9782 7.76158 10.8441 7.76158H10.1679V8.17903H10.8441C10.9782 8.17903 11.0817 8.30291 11.0817 8.43782C11.0819 8.46908 11.0759 8.50008 11.0641 8.529C11.0522 8.55793 11.0347 8.58421 11.0126 8.60631C10.9905 8.62842 10.9642 8.64591 10.9353 8.65777C10.9064 8.66963 10.8754 8.67562 10.8441 8.67539H9.92861C9.89734 8.67562 9.86635 8.66963 9.83742 8.65777C9.8085 8.64591 9.78222 8.62842 9.76011 8.60631C9.73801 8.58421 9.72051 8.55793 9.70866 8.529C9.6968 8.50008 9.6908 8.46908 9.69103 8.43782V6.58812C9.69103 6.45406 9.79455 6.3497 9.92861 6.3497V6.34885Z"
                                              fill="#D75A8B" />
                                    </svg>
                                </div>
                                <div class="text-[#D75A8B] text-[12px]">
                                    ライン
                                </div>
                            </div>

                            <div class="text-[#333] text-[12px] text-[400]">
                                080-4920-2323/15:00〜23:00受付 
                            </div>

                        </div>
                    </div>

                </div>

            </div>*@
    </div>

    @*<div style="margin-top: 16px;" class="h-[1px]  bg-[#EFEFEF]">

        </div>*@


    <div class="bg-[#FFFBFD] pt-3 mb-[16px]" style="background: #FFFBFD;">
        <div style="line-height: 38px;"
             class=" mb-[16px] font-[600] grid text-[24px] text-[#101828] flex-row justify-center">
            <div class="flex flex-row justify-center" style="line-height:38px">
                お問い合わせ

            </div>
            <div class="font-[400] flex flex-col items-center text-[12px] text-[#667085] ">
                <p style="line-height:normal">何かご不明な点がございましたらこちらにお問い</p>
                <p style="line-height:normal">合わせください。</p>

            </div>
        </div>
    </div>


    <div class="grid gap-[12px]" style="margin-left: 16px; margin-right:16px">
        <div class="flex flex-col gap-[10px]">
            <div class="text-[#535353] font-[600]">
                ニックネーム <span class="text-[#D32F2F]">*</span>
            </div>
            <div>
                <input class="w-full" style="border-radius: 3px; padding: 11px 16px; border: 1px solid #BEBEBE;"
                       type="text">
            </div>

        </div>

        <!-- 2nd text field  -->
        <div class="flex flex-col gap-[10px]">
            <div class="text-[#535353] font-[600]">
                Eメール <span class="text-[#D32F2F]">*</span>
            </div>
            <div>
                <input class="w-full" style="border-radius: 3px;padding: 11px 16px; border: 1px solid #BEBEBE;"
                       type="Email">
            </div>

        </div>
        <!-- 3rd field  -->
        <div class="flex flex-col gap-[10px]">
            <div class="text-[#535353] font-[600]">
                質問内容 <span class="text-[#D32F2F]">*</span>
            </div>
            <div>
                <textarea placeholder="質問内容" class="w-full"
                          style="border-radius: 3px;padding: 11px 16px; height: 82px; border: 1px solid #BEBEBE;" type="text">
                </textarea>
            </div>

        </div>
        <button class="flex flex-row mb-[24px] justify-center items-center rounded-[4px] bg-[#D75A8B] " style="background-color: #D75A8B; color: #fff; border: none; cursor: pointer;">
            <p class="py-[8px]">
                送る
            </p>
        </button>


    </div>

</div>