@{
    /* ViewBag.Title = "operating company";*/
    ViewBag.Title = "運営会社 ‖ ホスログ ‖ ホストクラブ初回来店・ネット予約";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
}
<!-- breadcrum -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="@Url.Action("HomePage", "Home")" class="active">ホーム</a>
    <i class="las la-angle-right"></i>
    <a href="#">運営会社</a>
</div>
<div class="grid mx-[16px]">
    <div class=" my-[8px] flex flex-row justify-center font-[600] mt-[12px] text-[24px] leading-[38px] text-[#101828]" style="background-color: #FBFBFB; padding: 10px; height:62px;">
        運営会社
    </div>
    <div class="grid my-[16px] gap-[16px] mt-[16px] px-4">
        <!-- 1st row -->
        <div class="grid  grid-cols-2 gap-[32px]">
            <div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700]" style="font-weight:700;">
                    事業者名
                </div>
                <div class=" font-[400]"  style="color:#333">
                    株式会社JOY CREATE
                </div>
            </div>
            <div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    設立
                </div>
                <div class="text-justify font-[400]" style="color:#333">
                    令和3年6月10日
                </div>
            </div>
        </div>

        <!-- 2nd row  -->
        <div class="grid  grid-cols-2 gap-[32px]">
            <div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    資本金
                </div>
                <div class=" font-[400]" style="color:#333">
                    800万円 
                </div>
            </div>
            <div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    代表取締役
                </div>
                <div class="text-justify font-[400]" style="color:#333">
                    鷲尾裕司
                </div>
            </div>
        </div>

        <!-- 3rd row  -->
        <div class="grid  grid-cols-1 gap-[32px]">
            <div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    所在地
                </div>
                <div class=" font-[400]; " style="color:#333; font-weight:400">
                    東京都新宿区歌舞伎町2-31-7 3階
                </div>
            </div>
            @*<div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    担当者直通ダイヤル
                </div>
                <div class=" font-[400]">
                    080-4920-2323/15:00〜23:00受付 
                </div>
            </div>*@
        </div>

        <!-- 4th row  -->
       @* <div class="grid  grid-cols-1 gap-[32px]">
            <div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    事業内容
                </div>
                <div class=" font-[400]">
                    <p>
                        ホストクラブトータルサポート
                    </p>
                    <p>
                        キャリアコンサルティング
                    </p>
                    <p>
                        ホスト人材育成事業
                    </p>
                    <p>
                        ホスト求人サイト運営(ホストの求人窓口)


                    </p>
                </div>
            </div>*@
            @*<div class="flex flex-col gap-[4px] text-[12px]">
                <div class="text-[#D75A8B] font-[700] ">
                    店舗掲載・パートナー提携
                </div>
                <div class=" font-[400]">
                    『経営者』『関係者』専用コンタクトフォーム 
                </div>
            </div>*@
        </div>
        <!-- 5th: -->
        <div class=" grid gap-[4px] px-4">
            <div class="text-[#D75A8B] font-[700] text-[12px] ">
                事業内容
            </div>
            <div style="margin-left:50px; font-size:12px; font-weight:400; color:#333">
                ホストクラブトータルサポート<br>
                キャリアコンサルティング<br>
                ホスト人材育成事業<br>
                ホスト求人サイト運営(ホストの求人窓口)
                <br />
            </div>
        </div>
    </div>

</div>