
@{
    /* ViewBag.Title = "privacy policy";*/
    ViewBag.Title = "プライバシーポリシー ‖ ホスログ ‖ ホストクラブ初回来店・ネット予約";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
}

<!-- breadcrum -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="@Url.Action("HomePage", "Home")" class="active">ホーム</a>
    <i class="las la-angle-right"></i>
    <a href="#">プライバシーポリシー</a>
</div>
<div class="grid mx-[16px] " style="letter-spacing:-0.75px " >
    <div class=" my-[8px] flex flex-row justify-center  items-center font-[600] text-[24px] leading-[38px] text-[#101828]" style="background-color: #FBFBFB; padding: 10px; height:62px;">
        プライバシーポリシー
    </div>
    <div class="mt-[12px] mb-[50px] px-4">
        <div class="text-[#D75A8B] text-[12px] font-[700] mb-[8px]">
            ホスログプライバシーポリシー
        </div>
        <div class="text-[12px] font-[400] text-justify">
            <div>
                本サービスのご利用には、ホスログ利用規約に加えて、このホスログプライバシーポリシー（以下「本ポリシー」といいます。）が適用されます。

            </div>
            <div class="my-[12px]">
                本ポリシーにおいて、「利用者情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他利用者のスマートフォン、PC等の端末において利用者又は利用者の端末に関連して生成又は蓄積された情報であって、本ポリシーに基づき当社が収集する以下の情報などを意味するものとします。
            </div>
            <div class="mb-[12px]">
                なお、本ポリシーに定めのない用語の定義は利用ホスログ利用規約に従います。
            </div>
            <div class="mb-[12px]">
                1. 収集する利用者情報及び収集方法
            </div>
            <div>

                当社は、以下のとおり利用者情報を収集します。
                <br>
                1. (1) 利用者からご提供いただく情報
                <div>
                    <span class="ml-[16px]">1. </span>氏名 <br>
                    <span class="ml-[16px]">2. </span>電話番号 <br>
                    <span class="ml-[16px]">3. </span>メールアドレス<br>
                    <span class="ml-[16px]">4. </span>生年月日<br>
                    <span class="ml-[16px]">5. </span>性別<br>
                    <span class="ml-[16px]">6. </span>クレジットカード情報その他の決済方法に関する情報<br>
                    <span class="ml-[16px]">7. </span>その他当社の入力フォームに利用者が入力する情報 <br>
                </div>
                2. (2) 本サービス経由で自動的に取得する情報 <br>

                <span class="ml-[16px]">
                    8.
                </span> 位置情報（現在地、目的地、端末の向き及びGPS情報を含みます。以下同様です。）<br>
                <span class="ml-[16px]">9.</span>デバイスに関する情報（端末固体識別番号、OS情報及びそのバージョン、ハードウェアモデル、広告掲載IDを含みます。）<br>
                <span class="ml-[16px]">10.</span>クッキー情報<br>
                <span class="ml-[16px]">11.</span>通信回線情報（回線種別(Wi-Fi or LTE)、電波強度、回線速度を含みます。以下同様です。）<br>
                <span class="ml-[16px]">12.</span>ログ情報（本サービスの起動/停止に関わる動作、アクセス日時、アクセスのあった IP アドレスを含みます。）<br>
                <span class="ml-[16px]">13.</span>サービス情報（本サービスのバージョンを含みます。）<br>
                <span class="ml-[16px]">14.</span> エンゲージメント情報（利用者によるサービスの起動情報等の利用履歴及びサービスにかかる広告への反応履歴を含みます。）<br>
                3. (3) 掲載店舗、広告代理店、サービス連携先などの第三者（以下まとめて　　　　　「提携先」といいます。）から取得する情報<br>
                <span class="ml-[16px]">16.</span> 16.本サービス掲載時、または利用時に任意で提出、取得される画像やテキスト情報 <br>
                <span class="ml-[16px]">17.</span> 提携先が適切に収集した情報、属性情報など

                当社は、提携先から提供を受けた情報を、当社の保有する利用者情報と紐づけて、次項に掲げる利用目的の範囲に限り利用します。
                <br>
                <div class="mb-[20px]">
                    2. 利用目的

                </div>
                2-1 当社が収集した利用者情報は、以下の目的の範囲内で利用します。<br>
                1. (1) 登録の受付、本人確認・認証、利用料金の計算・請求等本サービスの提供、維持、保護及び改善のため<br>
                2. (2) ご案内、お問い合せ等への対応及びアフターサービスの提供のため <br>
                <div class="mb-[20px]">
                    3. (3) 当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する<br>

                </div>
                <div class="mb-[20px]">
                    対応のため

                </div>
                4. (4) 規約等の変更などを通知するため <br>
                5. (5) 本サービスご利用に応じたサービス実現及料金等の支払を完了するために必要な限度で提携先及びその他の事業者に提供するため<br>
                <br>
                6. (6) 本サービスに関するシステムの維持、不具合等への対応のため <br>
                7. (7) 本サービスに関するアンケート・キャンペーン等の実施並びにアフィリエイト、ポイントサービス等の提供のため<br>
                8. (8) 本サービスその他の当社が運営するサービス等の改善・新機能の追加及び当社の新サービス等の提供に向けた研究開発のため <br>
                9. (9) 本サービスその他の当社が運営するサービス等及び第三者が運営するサービス等に関する広告、宣伝、マーケティング（ダイレクトメールの送付、電子メールの送信を含みます。）のため

                <br>
                10. (10)
                本サービスの利用状況の調査及び分析その他のマーケティング分析（個人を特定できないよう加工した分析結果を第三者へ提供する方法等によりマーケティングに活用することを含みます。）、その他の調査・分析を行うため
                <br>
                11. (11) 個人を特定できない状態で、利用者の属性情報（性別、生年月、郵便番号等）を提供し、ユーザー様に対して興味・関心度の高い情報を提供するため
                <br>
                12. (12) 当社及び第三者の商品・サービス等の販売、販売の勧誘、発送、サービス提供のため
                <br>
                13. (13) 決済サービス、物流サービスの提供のため
                <br>
                14. (14) 上記の利用目的に付随する利用目的のため
                <br>
                2-2 本サービスに関連して、個人を識別できない形式に加工した統計データを作成するため
                <br>
                利用者情報の項目　・位置情報　・クッキー情報　・通信回線情報
                <br>
                3. 第三者のトラッキングシステム
                <br>
                ホスログでは、利用者の本アプリ等の利用状況を把握するために、〇〇社のサービスである〇〇〇〇（サービス名称）、〇〇社の〇〇〇〇（サービス名称）、を使用しており、本ポリシー1.(2)に掲げるお客様の情報が、これらの第三者送信されることがあります。データが収集、処理される仕組みについては下記リンク先の通りです。
                〇〇〇〇（サービス名称）<br>
                サービスのURLを記載 <br>
                〇〇〇〇（サービス名称） <br>
                サービスのURLを記載<br>
                4. 第三者提供 <br>
                4-1
                利用者は、以下に定める場合に当社が個人データを第三者に提供することにあらかじめ同意するものとします。当社は、以下に定める場合及び個人情報保護法その他の法令で認められる場合を除き、あらかじめ利用者の同意を得ないで、個人データを第三者に提供しません。
                <br> 1. (1) 提携先等に対して提供する場合
                利用者は、本サービスの実現及利用料金等又はアフィリエイト報酬等の支払い完了並びに利用後等のクレームのお問い合わせなどへの対応に必要な限度で、利用者情報をユーザー様、掲載店舗、決済事業者等（以下「該当利用者等」といいます）に提供することをあらかじめ当社に委託するものとし、当社はかかる委託を受けて利用者に代わって利用者情報を該当利用者等に提供します。
                <br> 2. (2) 掲載店舗がホスログの機能を利用してサービスの依頼をしたときに、掲載店舗の所属する法人、団体に対してホスログの機能提供に必要な範囲で提供する場合
                <br> 3. (3) ユーザー様が提携先の提供するキャンペーン等を利用してサービスを利用したときに、当該キャンペーンの提供元に対して利用状況の確認のために必要な範囲で提供する場合
                <br> 4-2当社は、第三者に個人データを提供したときは、個人情報保護法に従い、記録の作成及び保存を行います。
                <br> 4-3当社は、第三者から個人データの提供を受けたときは、個人情報保護法に従い、必要な確認を行い、当該確認にかかる記録の作成及び保存を行います。
                <br> 5. 共同利用

                <br> 当社は、ホスログで収集した利用者情報に限り、以下のとおり共同利用します。
                <br>
                グループ企業との共同利用
                <br> 1. (1) 共同利用する個人データの項目
                本ポリシーに定める利用者情報
                <br> 2. (2) 共同して利用する者の範囲
                グループ企業。なお、グループ企業とは、当社の関連会社（不動産事業及び外食事業、広告代理店、デザイン会社）を指します。
                <br> 3. (3) 利用目的
                グループ企業のサービス等の提供、改善およびマーケティングならびに新たなサービス等の検討のため
                <br> 4. (4) 共同利用する個人データの管理についての責任を有する者の名称、住所及び代表者名
                <br>
                株式会社SYSTEM
                <br>
                東京都新宿区歌舞伎町2-31-7東京慶北ビル3階
                <br>
                役職　栁田　和宏（偽名はNG「栁田ヒロト」など）
                <br> 6. 個人情報の開示

                <br>
                当社は、利用者から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、利用者ご本人からのご請求であることを確認の上で、利用者に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。
                <br> 7. 個人情報の訂正及び利用停止等
                <br> 7-1
                当社は、利用者から、(1)個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、及び(2)あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由もしくは偽りその他不正の手段により収集されたものであるという理由又は個人情報が利用者の同意なく第三者に提供されているという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、利用者ご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正又は利用停止を行い、その旨を利用者に通知します。なお、合理的な理由に基づいて訂正又は利用停止を行わない旨の決定をしたときは、利用者に対しその旨を通知いたします。
                <br> 7-2
                当社は、利用者から、利用者の個人情報について消去を求められた場合、当社が当該請求に応じる必要があると判断した場合は、利用者ご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨を利用者に通知します。
                <br> 7-3 個人情報保護法その他の法令により、当社が訂正等又は利用停止等の義務を負わない場合は、前2項の規定は適用されません。
                <br> 8. 匿名加工情報
                <br> 8-1
                当社は、匿名加工情報（個人情報保護法に定めるものを意味し、同法に定める匿名加工情報データベース等を構成するものに限ります。以下同じ。）を作成するときは、個人情報保護委員会規則で定める基準に従い、個人情報を加工します。
                <br> 8-2 当社は、匿名加工情報を作成したときは、個人情報保護委員会規則で定める基準に従い、安全管理のための措置を講じます。
                <br> 8-3 当社は、匿名加工情報を作成したときは、個人情報保護委員会規則で定めるところにより、当該匿名加工情報に含まれる個人に関する情報の項目を公表します。
                <br> 8-4
                当社は、匿名加工情報（当社が作成したもの及び第三者から提供を受けたものを含みます。以下別段の定めがない限り同様とします。）を第三者に提供するときは、個人情報保護委員会規則で定めるところにより、あらかじめ、第三者に提供される匿名加工情報に含まれる個人に関する情報の項目及びその提供の方法について公表するとともに、当該第三者に対して、当該提供に係る情報が匿名加工情報である旨を明示します。
                <br> 8-5
                当社は、匿名加工情報を取り扱うに当たっては、匿名加工情報の作成に用いられた個人情報に係る利用者を識別するために、(1)匿名加工情報を他の情報と照合すること、及び(2)当該個人情報から削除された記述等若しくは個人識別符号又は個人情報保護法の規定により行われた加工の方法に関する情報を取得すること（(2)は第三者から提供を受けた当該匿名加工情報についてのみ）を行いません。
                <br> 8-6
                当社は、匿名加工情報の安全管理のために必要かつ適切な措置、匿名加工情報の作成その他の取扱いに関する苦情の処理その他の匿名加工情報の適正な取扱いを確保するために必要な措置を自ら講じ、かつ、当該措置の内容を公表するよう努めます。
                <br> 9. お問い合わせ窓口
                <br>
                ホスログについてのご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願い致します。
                お問合せフォームボタン設置

                <br>
                <br>
                10. プライバシーポリシーの変更手続
                <br>
                当社は、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。変更した場合には、当社のウェブページ上で公表する方法その他の当社が定める方法で利用者に通知いたします。但し、法令上利用者の同意が必要となるような内容の変更の場合は、当社所定の方法で利用者の同意を得るものとします。
            </div>

        </div>


    </div>
</div>