@{
    ViewBag.Title = "プライバシーポリシー ‖ ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    var MetaClubCount = ViewBag.MetaClubCount;
    var MetaHostCount = ViewBag.MetaHostCount;
    var metaContent = $"業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びが簡単に☆接客リクエストで推しホストに出会いやすい！歌舞伎町を中心に全国から厳選した{MetaClubCount}件のホストクラブ・{MetaHostCount}人のホスト情報を掲載中！";
}

<style>
    .heading {
        overflow: hidden;
        color: var(--primary, #D75A8B);
        text-overflow: ellipsis;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .subHeading {
        overflow: hidden;
        color: var(--primary-text, #18181B);
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom:8px;
        margin-top:10px;
    }
   
</style>
<meta name="description" content="@metaContent">
<!-- breadcrum -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="/login" class="active">ホーム</a>
    <i class="las la-angle-right"></i>
    <a href="#">プライバシーポリシー</a>
</div>
<div class="grid mx-[16px] " style="letter-spacing:-0.75px ">
    <div class=" py-[8px] flex flex-row justify-center font-[600] pt-[12px] text-[24px] leading-[38px] text-[#101828]" style="background-color: #FFFBFD; padding: 10px; height: 62px;">
        プライバシーポリシー
    </div>
    <div class="mt-[12px] mb-[50px] px-4">
      @*  <div class="text-[#D75A8B] text-[12px] font-[700] mb-[8px]">
            ホスログプライバシーポリシー
        </div>*@
        <div class="text-[12px] font-[400] text-justify">
            <div>
                本サービスのご利用には、ホスログ利用規約に加えて、本ホスログプライバシーポリシー（以下「本ポリシー」といいます。）が適用されます

            </div>
            <div class="my-[12px]">
                本ポリシーにおいての「利用者情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他利用者のスマートフォン、パソコン等の端末において利用者又は利用者の端末に関連して生成又は蓄積された情報であって、本ポリシーに基づき当社が収集する以下の情報等を意味するものとします。
            </div>
            <div class="mb-[12px]">
                なお、本ポリシーに定めのない用語の定義は利用ホスログ利用規約に従います。
            </div>
            <div class="mb-[12px] heading">
                1. 収集する利用者情報及び収集方法
            </div>
            <div>

                当社は、以下のとおり利用者情報を収集します。
                <br>
                <div class="subHeading">
                    (1)利用者からご提供いただく情報
                </div>
                <div>
                    <span class="ml-[16px]">1. </span>氏名 <br>
                    <span class="ml-[16px]">2. </span>電話番号 <br>
                    <span class="ml-[16px]">3. </span>メールアドレス<br>
                    <span class="ml-[16px]">4. </span>生年月日<br>
                    <span class="ml-[16px]">5. </span>性別<br>
                    <span class="ml-[16px]">6. </span>クレジットカード情報その他の決済方法に関する情報<br>
                    <span class="ml-[16px]">7. </span>その他当社の入力フォームに利用者が入力する情報 <br>
                </div>

                <div class="subHeading">

                    (2)本サービス経由で自動的に取得する情報
                </div>
                <div class="ml-[12px] flex flex-col gap-1">
                    <span class="">
                        8.
                        位置情報（現在地、目的地、端末の向き及びGPS情報を含みます。以下同様です。）
                    </span>
                    <span class="">9. デバイスに関する情報（端末固体識別番号、OS情報及びそのバージョン、ハードウェアモデル、広告掲載IDを含みます。）</span>
                    <span class="">10. クッキー情報</span>
                    <span class="">11. 通信回線情報（回線種別(Wi-Fi or LTE)、電波強度、回線速度を含みます。以下同様です。）</span>
                    <span class="">12. ログ情報（本サービスの起動/停止に関わる動作、アクセス日時、アクセスのあった IP アドレスを含みます。）</span>
                    <span class="">13. サービス情報（本サービスのバージョンを含みます。）</span>
                    <span class="">14. エンゲージメント情報（利用者によるサービスの起動情報等の利用履歴及びサービスにかかる広告への反応履歴を含みます。）</span>

                </div>
                <div class="subHeading">(3)掲載店舗、広告代理店、サービス連携先等の第三者（以下まとめて「提携先」といいます。）から取得する情報</div>
                <div>
                    <span class="">15.  本サービス掲載時、又は利用時に任意で提出し取得される画像やテキスト情報</span>
                    <span class="">16.  提携先が適切に収集した情報や属性情報等、当社は提携先から提供を受けた情報を当社の保有する利用者情報と紐づけて、次項に掲げる利用目的の範囲に限り利用します。</span>
                </div>
                <br>
                <div class=" heading">
                    2. 利用目的

                </div>
                当社が収集した利用者情報（個人を識別できない形式に加工した統計データを作成するための項目・位置情報・Cookie情報・通信回線情報等）は、以下の目的の範囲内で利用いたします。<br>

                <div class="mb-[20px] flex flex-col gap-1">

                    <span>1. 登録の受付、本人確認・認証、利用料金の計算・請求等、本サービスの提供・維持又は保護及び改善のため</span>
                    <span>2. お問い合せ等へのサポート対応及びアフターサービスの提供のため</span>
                    <span>3. 当社の利用規約、ポリシー等（以下「規約等」といいます。）に違反する行為があった際の対応のため</span>
                    <span>4. 規約等の変更等を通知するため</span>
                    <span>5. 本サービスの利用に応じた別サービスの実現及び料金等の支払を完了するために必要な範囲で、提携先及びその他の事業者に提供するため</span>
                    <span>6. 本サービスに関するシステムの維持・不具合等の対応のため</span>
                    <span>7. 本サービスに関するアンケート・キャンペーン等の実施並びにアフィリエイト、ポイントサービス等の提供のため</span>
                    <span>8. 本サービスやその他の当社が運営するサービス等の改善・新機能の追加及び当社の新サービス等の研究開発のため</span>
                    <span>9. 本サービスやその他の当社が運営するサービス等及び第三者が運営するサービス等に関する広告、宣伝、マーケティング（ダイレクトメールの送付、電子メールの送信を含みます。）のため</span>
                    <span>10. 本サービスの利用状況の調査及び分析その他のマーケティング分析（個人を特定できないよう加工した分析結果を第三者へ提供する方法等によりマーケティングに活用することを含みます。）や、その他の調査・分析を行うため</span>
                    <span>11. 個人を特定できない状態で、利用者の属性情報（性別、生年月、郵便番号等）を提供し、利用者に対して興味・関心度の高い情報を提供するため</span>
                    <span>12. 当社及び第三者の商品・サービス等の販売、販売の勧誘、発送、サービス提供のため</span>
                    <span>13. 決済サービス、物流サービスの提供のため</span>
                    <span>14. 上記の利用目的に付随する利用目的のため</span>

                </div>

                <div class="heading">
                    3 第三者のトラッキングシステム
                </div>
                ホスログでは利用者の利用状況を把握するために、<br /> Google社のサービスであるGoogle Analyticsを使用しており、本ポリシー1.(2)に掲げる利用者の情報が第三者送信されることがあります。

                <div class="heading">
                    4 第三者提供
                </div>

                <div class="flex flex-col gap-2">
                    <span class="text-[14px] font-[500] ">
                        (1)利用者は、以下に定める場合に当社が個人情報を第三者に提供することにあらかじめ同意するものとします。当社は、以下に定める場合及び個人情報保護法その他の法令で認められる場合を除き、あらかじめ利用者の同意を得ないで個人情報を第三者に提供することはありません。
                    </span>

                    <div class="flex flex-col gap-1  pl-3">
                        <span>
                            1. 提携先等に対して提供する場合、利用者は本サービスの実現及び利用料金等又はアフィリエイト報酬等の支払い完了並びに利用後等のクレームのお問い合わせ等への対応に必要な範囲で、利用者情報を利用者、掲載店舗、決済事業者等（以下「該当利用者等」といいます）に提供することをあらかじめ当社に委託するものとし、当社は係る委託を受けて利用者に代わって利用者情報を該当利用者等に提供します。
                        </span>
                        <span>
                            2. 掲載店舗がホスログの機能を利用してサービスの依頼をしたときに、掲載店舗の所属する法人、団体に対してはホスログの機能利用に必要な範囲で利用者情報を提供します。
                        </span>
                        <span>
                            3. 利用者が提携先の提供するキャンペーン等を利用してサービスを利用したときに、当該キャンペーンの提供元に対して利用状況の確認のために必要な範囲で利用者情報を提供します。
                        </span>
                    </div>

                    <span class="text-[14px] font-[500] ">
                        (2)当社は、第三者に個人情報を提供したときは、個人情報保護法に従い、記録の作成及び保存を行います。<br />
                    </span>

                    <span class="text-[14px] font-[500] ">
                        (3)当社は、第三者から個人情報の提供を受けたときは、個人情報保護法に従い、必要な確認を行い、当該確認にかかる記録の作成及び保存を行います。
                    </span>

                </div>

                <div class="heading">
                    5 共同利用
                </div>

                <div class="flex flex-col gap-2">
                    <span class="text-[13px] font-[500] ">
                        当社は、ホスログで収集した利用者情報に限り、以下のとおりその情報を共同利用いたします。
                    </span>

                    <ul class="flex flex-col gap-1  pl-3" style="list-style-type: circle;">
                        <li>
                            共同利用する個人情報の項目：本ポリシーに定める利用者情報
                        </li>
                        <li>
                            共同して利用する者の範囲：当社の関連グループ企業（不動産事業及び外食事業、広告代理店、デザイン会社等）
                        </li>
                        <li>
                            利用目的：グループ企業のサービス等の提供、改善及びマーケティング並びに新たなサービス等の企画・開発検討のため
                        </li>
                    </ul>

                    <span class="text-[14px] font-[500] ">
                        (2)当社は、第三者に個人情報を提供したときは、個人情報保護法に従い、記録の作成及び保存を行います。<br />
                    </span>

                    <span class="text-[14px] font-[500] ">
                        (3)当社は、第三者から個人情報の提供を受けたときは、個人情報保護法に従い、必要な確認を行い、当該確認にかかる記録の作成及び保存を行います。
                    </span>

                </div>




            </div>

        </div>


    </div>
</div>