@{
    ViewBag.Title = "利用規約 ‖ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
}

<style>
    .reading-instruction {
        font-size: 12px;
        color: #333;
        font-weight: 400;
        margin: 8px 0;
    }

    .heading-title {
        text-overflow: ellipsis;
        color: #333;
        font-size: 12px;
        font-weight: 700;
        margin-top: 8px;
    }

    .sub-heading {
        color: #D75A8B;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 600;
        margin: 10px 0;
    }

    .terms-contnet {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 297;
        color: var(--Secondary-Text-I, #333);
        text-overflow: ellipsis;
        font-family: "Noto Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .rememberMe {
        color: #000;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.4px;
    }

    .checkBox {
        border: 0.5px solid #D9D9D9;
        border-radius: 1.5px;
        color: #D75A8B;
    }

    .checkmark1 {
        display: flex;
        gap: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
    }
</style>

<!-- breadcrum -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="#" class="active">ホーム</a>
    <i class="las la-angle-right"></i>
    <a href="#">ホスログ利用規約</a>
</div>
<div class="grid  mx-[16px] mt-[12px] mb-[16px]">
    <div class="bg-[#FBFBFB] mb-[16px] ">
        <div style="line-height: 38px;"
             class=" mb-[16px] font-[600] grid text-[24px] text-[#101828] flex-row justify-center">
            <div class="flex flex-row justify-center" style="display:flex;  ">
                ホスログ利用規約

            </div>
            <!-- <div style="line-height: 24px;" class="font-[400] justify-center text-[12px] text-[#667085] ">
                ホスログに関するすべてを見つけてください。
            </div> -->
        </div>
    </div>
</div>
<div class="grid  mx-[12px] mt-[12px] " style="margin-left:12px; margin-right:12px; letter-spacing:-0.75px">
    <div class="mb-[16px]">ホスログ利用規約</div>
    <div class="reading-instruction">
        <div>以下、必ずお読みください。</div>
        <!-- 1 -->
        <div>
            <div class="heading-title">1 総 則</div>
            <div class="sub-heading">1 . 1 . 適 用 ・ 変 更</div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">1.1.1. 規 約 の適 用</p>
                <div>
                    <p>
                        本 利 用 規 約 は、株 式 会 社 JOY CREATE（ 以 下 「 当 社 」 といいます。） が運 営 するホストクラブ紹 介 サービス 「 ホスログ（ 以 下 「 ホスログ」 といいます。） 」 のサービスコンテンツ（ 以 下 「 本 サービス」 といいます。） により提 供 される本 サービスを利 用 するすべての方 （ 以 下 「 利 用 者 」 といいます。） と当 社 との間 に適 用 されます。
                    </p>

                </div>
            </div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">1.1.2. 規 約 の適 用</p>
                <div>
                    <p>
                        本 利 用 規 約 は、株 式 会 社 JOY CREATE（ 以 下 「 当 社 」 といいます。） が運 営 するホストクラブ紹 介 サービス 「 ホスログ（ 以 下 「 ホスログ」 といいます。） 」 のサビスコンテンツ（ 以 下 「 本 サービス」 といいます。） により提 供 される本 サービスを利 用 するすべての方 （ 以 下
                        「 利 用 者 」 といいます。） と当 社 との間 に適 用 されます
                    </p>

                </div>
            </div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">1.1.3. 規 約 の変 更</p>
                <div>
                    <p>
                        当 社 は、当 社 が必 要 と判 断 する場 合 、民 法 548 条 の４ の規 定 に従 い本 利 用 規 約の内 容 を変 更 することができるものとします。この場 合 、当 社 は、変 更 後 の本 利 用 規約 の内 容 及 び効 力 発 生 日 を、本 サービス上 の掲 載 その他 の方 法 により周 知 します。変 更 後 の本 利 用 規 約 は、効 力 発 生 日 より利 用 者 に適 用 されます。
                    </p>
                </div>
            </div>
            <!-- 1.2 -->
            <div class="sub-heading">1 . 2 . 利 用 契 約</div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">1.2.1. 利 用 契 約 の成 立</p>
                <div>
                    <p>
                        利 用 者 は、本 利 用 規 約 の内 容 に同 意 のうえ、本 サービスを利 用 するものとします。利 用 者 が当 該 同 意 を行 った時 点 で、当 社 と利 用 者 の間 に、本 利
                        用 規 約 を内 容 とする契 約 （ 以 下 「 利 用 契 約 」 といいます。） が成 立 します。
                    </p>
                </div>
            </div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">
                    1.2.2. 未 成 年 者 、未 成 年 者 飲 酒 禁 止 法 の対 象 になる者 の利 用
                </p>
                <div>
                    <p>
                        未 成 年 者 は、本 サービスの利 用 、登 録 をすることができません。また、20 歳 未 満 の方 は未 成 年 者 飲 酒 禁 止 法 により飲 酒 は禁 じられております。虚 偽
                        による未 成 年 者の登 録 利 用 及 び 20 歳 未 満 の飲 酒 によるトラブルは当 事 者 間 で解 決 してください。
                    </p>
                </div>
            </div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">
                    1.2.3. 利 用 アカウント
                </p>
                <div>
                    <p>
                        利 用 者 は、当 社 所 定 の情 報 （ 認 証 情 報 等 も含 み、以 下 「 登 録 情 報 」 といいます。） を日 本 国 内 で登 録 の上 、本 サービスのアカウントを作 成
                        する必 要 があります。当 社 は、登 録 情 報 を利 用 して行 われた一 切 の行 為 を利 用 者 自 身 の行 為 とみなします。当 社は、本 サービス以 外 で当 社 、及 び関
                        連 会 社 が提 供 するサービスにおいても、登 録 情報 及 び本 サービスのアカウントを利 用 する場 合 があります。
                    </p>

                </div>
            </div>
            <div class="terms-contnet">
                <p style="margin-bottom:10px; font-weight:500">1.2.4. 利 用 契 約 の終 了</p>
                <div>
                    <p>
                        利 用 者 は、当 社 所 定 の手 続 きに従 い、いつでも利 用 契 約 を終 了 することができます。但 し、当 社 が定 める禁 止 行 為 が一 定 の限 度 を超 えた場 合 は当
                        社 から強 制 的 に
                        利 用 契 約 の終 了 ができるものとし、登 録 情 報 その他 の本 サービスの利 用 情 報 は閲
                        覧 できなくなります。
                    </p>

                </div>
            </div>
            <!-- 1.3 -->
            <div class="sub-heading">1 . 3 . 表 明 及 び 保 証 並 び に 誓 約</div>
            <p style="margin:10px 0 ; font-size:12px; font-weight:500; color:#333">
                利 用 者 は、以 下 の事 項 を表 明 及 び保 証
                するものとします。
            </p>
            <div class="terms-contnet">
                <!-- <p>1.2.1. 利 用 契 約 の成 立</p> -->
                <div>
                    <p>
                        1. (1) 反 社 会 的 勢 力 等 （ 暴 力 団 、暴 力 団 員 、暴 力 団 準 構 成 員 、暴 力 団 関
                        係 企 業 、総 会 屋 等 、社 会 運 動 等 標 ぼうゴロ又 は特 殊 知 能 暴 力 集 団 等 、
                        その他 これらに準 ずる者 を意 味 します。以 下 同 じです。） ではないこと又 はな
                        かったこと。
                    </p>
                    <p>
                        2. (2) 資 金 提 供 その他 を通 じて反 社 会 的 勢 力 等 の維 持 、運 営 若 しくは経 営
                        に協 力 若 しくは関 与 する等 、反 社 会 的 勢 力 等 との何 らかの交 流 若 しくは関
                        与 を行 っていないこと又 はなかったこと。
                    </p>
                    <p>3. (3) 反 社 会 的 勢 力 等 の維 持 、運 営 若 しくは経 営 に協 力 若 しくは関 与 する</p>
                    <p>
                        等 反 社 会 的 勢 力 等 との何 らかの交 流 若 しくは関 与 を行 わないこと又 はなか
                        ったこと。
                    </p>
                    <p>4. (4) 登 録 情 報 が利 用 者 自 身 の情 報 であること</p>
                    <p>5. (5) 登 録 情 報 が真 実 、正 確 かつ完 全 な情 報 であり、常 に最 新 であること。</p>
                    <p>
                        6. (6) 本 サービスのアカウントを不 正 に利 用 されないために利 用 者 自 身 で厳
                        重 に管 理 すること。
                    </p>
                    <p>7. (7)未 成 年 者 でないこと。</p>
                </div>
            </div>

            <!-- 1.4 -->
            <div class="sub-heading">1 . 4 . 本 サ ー ビ ス の 利 用</div>
            <div class="terms-contnet">
                <!-- <p>1 . 4 . 本 サ ー ビ ス の 利 用</p> -->
                <div>
                    <p>利 用 者 は、本 利 用 規 約 及 び当 社 の定 める方 法 に従 い、本 サービスを利 用 するものとします。</p>
                </div>
            </div>
            <!-- 1.5 -->
            <div class="sub-heading">1 . 5 . 料 金 及 び 支 払 方 法</div>
            <div class="terms-contnet">
                <!-- <p>1 . 4 . 本 サ ー ビ ス の 利 用</p> -->
                <div>
                    <p>利 用 者 は、本 サービスを経 由 した対 象 のホストクラブに直 接 料 金 を支 払 うものとします。</p>
                </div>
            </div>
            <!-- 1.6 -->
            <div class="sub-heading">1 . 6 . 禁 止 行 為</div>
            <div style="color=#333; font-size:12px; font-weight:500; margin:10px 0">
                <p>利 用 者 は、本 サービスの利 用 にあたり、以 下 の各 号 のいずれかに該 当 する又 はそのおそれがある行 為 をしてはなりません。</p>
            </div>
            <div class="terms-contnet">
                <!-- <p>1 . 4 . 本 サ ー ビ ス の 利 用</p> -->
                <div>
                    <p>
                        1. (1) 直 接 か間 接 かを問 わず、当 社 、本 サービスの紹 介 するホストクラブ（ 以
                        下 「 ホストクラブ」 といいます。） 、他 の利 用 者 その他 の第 三 者 の知 的 財 産
                        権 、肖 像 権 、プライバシーの権 利 、名 誉 、その他 の権 利 又 は利 益 を侵 害 す
                        る行 為
                    </p>
                    <p>2. (2) 虚 偽 の依 頼 行 為</p>
                    <p>
                        3. (3) 利 用 者 が本 サービスのご予 約 完 了 後 、予 約 時 間 までの間 にキャンセル
                        を繰 り返 す行 為 及 び無 断 キャンセル
                    </p>
                    <p>4. (4) ホストクラブへの危 険 物 のの持 ち込 み行 為</p>
                    <p>5. (5) 犯 罪 行 為 に関 連 する行 為 又 は公 序 良 俗 に反 する行 為</p>
                    <p>
                        6. (6) 法 令 、裁 判 所 の判 決 、決 定 若 しくは命 令 、法 令 上 拘 束 力 のある行 政
                        措 置 又 は当 社 若 しくは利 用 者 が所 属 する業 界 団 体 の内 部 規 則 に違 反 する
                        行 為
                    </p>
                    <p>
                        7. (7) コンピューター・ ウィルスその他 の有 害 なコンピューター・ プログラムを含
                        む情 報 を送 信 する行 為
                    </p>
                    <p>8. (8) 本 サービスに関 し利 用 しうる情 報 を改 ざんする行 為</p>
                    <p>9. (9) 本 サービスの運 営 を妨 害 する行 為</p>
                    <p>
                        10. (10) 本 サービス、当 社 が保 有 するサーバー及 びこれらが生 成 する情 報
                        通 信 内 容 等 の解 読 、解 析 、逆 コンパイル、逆 アセンブル又 はリバースエンジ
                        ニアリングを行 う行 為
                    </p>

                    <p>
                        11. (11) 他 の個 人 若 しくは団 体 になりすまし、又 は他 の個 人 若 しくは団 体 と関
                        係 があるように不 当 に見 せかける行 為
                    </p>
                    <p>12. (12) 本 サービスのバグ、誤 動 作 を利 用 する行 為</p>
                    <p>13. (13) 本 サービスその他 当 社 が営 利 法 人 に対 して提 供 するサービスで明</p>
                    <p>確 に認 められた行 為 を除 き、本 サービスを営 利 目 的 で利 用 する行 為</p>
                    <p>
                        14. (14) 本 サービスのアカウントを第 三 者 に利 用 させ、又 は貸 与 、譲 渡 、売
                        買 、質 入 その他 の処 分 をする行 為
                    </p>
                    <p>15. (15) 日 本 国 外 で本 アプリ上 に自 己 の情 報 を登 録 する行 為</p>
                    <p>16. (16) その他 、当 社 が不 適 切 と合 理 的 に判 断 する行 為</p>
                </div>
            </div>
            <!-- 1.7 -->
            <div class="sub-heading">1 . 7 . 権 利 帰 属</div>
            <div style="color=#333; font-size:12px; font-weight:500; margin:10px 0">
                <p>利 用 者 は、本 サービスに関 する権 利 帰 属 につき、以 下 の事 項 に同 意 します。</p>
            </div>
            <div class="terms-contnet">
                <!-- <p>1 . 4 . 本 サ ー ビ ス の 利 用</p> -->
                <div>
                    <p>
                        1. (1) 本 サービス（ 本 サービス上 に表 示 されるアイコン、数 値 、データを含 みますが、これらに限 られません。以 下 同 じです。） に関 する所 有 権 及 び知 的 財産
                        権 その他 の財 産 権 は全 て当 社 又 は当 社 にライセンスを許 諾 している者 に帰 属 しており、本 利 用 規 約 で明 示 されている場 合 を除 き、利 用 者 に対 して財
                        産 権 の譲 渡 又 は利 用 を許 諾 しません。
                    </p>
                    <p>
                        2. (2) 本 サービスにおいて、利 用 者 が投 稿 その他 送 信 を行 った文 章 、画 像 、動 画 その他 のデータ（ 以 下 「 投 稿 データ」 といいます。） は、当 社 が無
                        償 で自由 に利 用 （ 複 製 、複 写 、改 変 、第 三 者 への再 許 諾 その他 のあらゆる利 用 を含 みます。） することができるものとしす。
                    </p>
                    <p>3. (3) 利 用 者 は、当 社 に対 して、投 稿 データに関 する著 作 者 人 格 権 等 の権利 を行 使 しないものとします。</p>
                    <p>
                        4. (4) 当 社 は、投 稿 データが法 令 若 しくは本 利 用 規 約 に違 反 又 は違 反 するおそれがある場 合 、その他 業 務 上 合 理 的 な必 要 がある場 合 には、予
                        め利用 者 に通 知 することなく、投 稿 データを削 除 、変 更 する等 合 理 的 な措 置 を講 じることができます。
                    </p>
                </div>
            </div>

            <!-- 1.8 -->
            <div class="sub-heading">1 . 8 . 個 人 情 報</div>
            <!-- <div style="color=#333; font-size:12px; font-weight:500; margin:10px 0">
                <p>利 用 者 は、本 サービスに関 する権 利 帰 属 につき、以 下 の事 項 に同 意 します。</p>
            </div> -->
            <div class="terms-contnet">
                <div>
                    <p>
                        1.8.1. 当 社 が本 サービスの提 供 に伴 って取 得 した利 用 者 の個 人 情 報 （ 個 人 情 報の保 護 に関 する法 律 に定 める個 人 情 報 、メールアドレス及 び利
                        用 者 の位 置 情 報 も
                        含 みます。以 下 同 じです。） については、当 社 が別 途 定 めるプライバシーポリシーに従って取 扱 うものとし、利 用 者 は、これに同 意 するものとします。
                    </p>

                </div>
            </div>
            <div class="terms-contnet">
                <div>
                    <p>
                        1.8.2. 利 用 者 は、当 社 に対 して、サービスの実 現 及 び本 利 用 規 約 に定 めるホストクラブへ予 約 を完 了 するために必 要 な限 度 で、自 己 の個 人 情 報
                        のうち当 社 が指 定 する情 報 をホストクラブ及 びその他 の事 業 者 に提 供 することを委 託 するものとし、当 社は利 用 者 に代 わって利 用 者 の個 人 情 報
                        をホストクラブ及 びその他 の事 業 者 に提 供するものとします。
                    </p>

                </div>
            </div>

            <!-- 1.9 -->
            <div class="sub-heading">1 . 9 . 利 用 者 の 賠 償 責 任</div>
            <!-- <div style="color=#333; font-size:12px; font-weight:500; margin:10px 0">
                <p>利 用 者 は、本 サービスに関 する権 利 帰 属 につき、以 下 の事 項 に同 意 します。</p>
            </div> -->
            <div class="terms-contnet">
                <div>
                    <p>
                        1.9.1. 利 用 者 は、本 利 用 規 約 に違 反 し又 は本 サービスの利 用 に関 連 して当 社 に損 害 を与 えた場 合 、当 社 に対 しその損 害 を賠 償
                        しなければなりません。
                    </p>

                </div>
            </div>
            <div class="terms-contnet">
                <div>
                    <p>
                        1.9.2. 利 用 者 が、本 サービスの利 用 に関 連 して、 ホストクラブ、他 の利 用 者 その他の第 三 者 からクレームを受 け又 はそれらの者 との間 で紛 争 が生 じた場 合
                        には、利 用
                        者 の費 用 と責 任 において当 該 クレーム又 は紛 争 を処 理 するものとします。
                    </p>

                </div>
            </div>
            <div class="terms-contnet">
                <div>
                    <p>
                        1.9.3. 利 用 者 による本 サービスの利 用 に関 連 して、当 社 が、ホストクラブ、他 の利用 者 その他 の第 三 者 から権 利 侵 害 その他 の理 由 により何 らかの請 求
                        又 は申 し立 て
                        を受 けた場 合 は、利 用 者 は当 該 請 求 に基 づき当 社 が当 該 第 三 者 に支 払 いを余 儀なくされた金 額 を賠 償 しなければなりません。
                    </p>
                </div>
            </div>

            <!-- 1.10 -->
            <div class="sub-heading">1 . 10 . 当 社 の 免 責 等</div>
            <!-- <div style="color=#333; font-size:12px; font-weight:500; margin:10px 0">
                <p>利 用 者 は、本 サービスに関 する権 利 帰 属 につき、以 下 の事 項 に同 意 します。</p>
            </div> -->
            <div class="sub-heading">1.10.1. 非 保 証</div>
            <div class="terms-contnet">
                <div>
                    <p>
                        本 サービスは現 状 有 姿 で提 供 されるものであり、当 社 は本 サービスに関 するセキュリティ等 に関 する欠 陥 、エラー、バグ、権 利 侵 害 、安 全 性 および信 頼 性
                        がないこと（ 以下 「 瑕 疵 等 」 といいます。） 、並 びに正 確 性 、完 全 性 、有 効 性 、特 定 目 的 への適 合 性及 び商 業 的 有 用 性 について、明 示 的
                        にも黙 示 的 にも一 切 保 証 せず、また、瑕 疵 等を除 去 して利 用 者 に本 サービスを提 供 する義 務 を負 いません。
                    </p>
                </div>
            </div>

            <!-- 1.11 -->
            <div class="sub-heading">1 . 1 1 . 利 用 停 止 等</div>
            <!-- <div style="color=#333; font-size:12px; font-weight:500; margin:10px 0">
                <p>利 用 者 は、本 サービスに関 する権 利 帰 属 につき、以 下 の事 項 に同 意 します。</p>
            </div> -->
            <!-- <div class="sub-heading">1.10.1. 非 保 証</div> -->
            <div class="terms-contnet">
                <div>
                    <p>
                        当 社 は、利 用 者 が以 下 のいずれかに該 当 する場 合 又 はそのおそれがある場 合 、利用 者 に事 前 に通 知 することなく、本 サービスの提 供 の全 部 又 は一 部 を停
                        止 又 は中
                        断 することができるものとします。
                    </p>

                </div>
            </div>

            <div class="terms-contnet">
                <div>
                    <p>1. (1) 本 利 用 規 約 又 は個 別 規 約 のいずれかの条 項 に違 反 した場 合</p>
                    <p>
                        2. (2) 当 社 、他 の利 用 者 その他 の第 三 者 に損 害 を生 じさせるおそれのある目
                        的 又 は方 法 で本 サービスを利 用 した、又 は利 用 しようとした場 合
                    </p>
                    <p>3. (3) 手 段 の如 何 を問 わず、本 サービスの運 営 を妨 害 した場 合</p>
                    <p>4. (4) 死 亡 した場 合</p>
                    <p>5. (5) 本 サービスを利 用 せずに 1 年 以 上 が経 過 した場 合</p>
                    <p>
                        6. (6) 当 社 によって、過 去 に本 サービス又 は当 社 が提 供 する他 のサービスの
                        利 用 を停 止 されたことがある場 合
                    </p>
                    <p>7. (7) ホストクラブにて料 金 等 を支 払 わない場 合</p>
                    <p>
                        8. (8) ホストクラブ及 び他 の利 用 者 に対 し迷 惑 な行 為 を行 ったと当 社 が合 理
                        的 に判 断 した場 合
                    </p>
                    <p>
                        9. (9) その他 、当 社 が利 用 者 としての登 録 の継 続 を適 当 でないと合 理 的 に判
                        断 した場 合
                    </p>
                </div>
            </div>

            <!-- 1.12 -->
            <div class="sub-heading">1 . 1 2 . 本 サ ー ビ ス の 停 止</div>
            <!-- <div class="sub-heading">1.10.1. 非 保 証</div> -->
            <div class="terms-contnet">
                <div>
                    <p>
                        当 社 は、以 下 のいずれかに該 当 する場 合 には、利 用 者 に事 前 に通 知 することなく、本 サービスの提 供 の全 部 又 は一 部 を停 止 又 は中 断
                        することができるものとします。
                    </p>
                </div>
            </div>
            <div class="terms-contnet">
                <div>
                    <p>
                        1. (1) 本 サービスに係 るコンピューター・ システム（ 本 アプリに係 るサーバーを
                        含 みます。） の点 検 又 は保 守 作 業 を定 期 的 又 は緊 急 に行 う場 合
                    </p>
                    <p>2. (2) コンピューター、通 信 回 線 等 が事 故 により停 止 した場 合</p>
                    <p>
                        3. (3) 火 災 、停 電 、天 災 地 変 等 の不 可 抗 力 により本 サービスの提 供 ができな
                        くなった場 合
                    </p>
                    <p>4. (4) その他 、当 社 が停 止 又 は中 断 を必 要 と判 断 した場 合</p>
                </div>
            </div>

            <!-- 1.13 -->
            <div class="sub-heading">1 . 1 3 . 有 効 期 間</div>
            <!-- <div class="sub-heading">1.10.1. 非 保 証</div> -->
            <div class="terms-contnet">
                <div>
                    <p>
                        利 用 契 約 は、利 用 契 約 が成 立 したときから利 用 者 又 は当 社 がアカウントを削 除 した 日 、又 は本 サービスの提 供 が終 了 した日 のいずれか早 い日 まで、当
                        社 と利 用 者 との 間 で有 効 に存 続 するものとします。
                    </p>
                </div>
            </div>

            <!-- 1.14 -->
            <div class="sub-heading">1 . 1 4 . 譲 渡 禁 止</div>
            <!-- <div class="sub-heading">1.10.1. 非 保 証</div> -->
            <div class="terms-contnet">
                <div>
                    <p>利 用 者 は、利 用 契 約 に係 る権 利 及 び義 務 を第 三 者 に移 転 、譲 渡 、担 保 に供 する等 をすることができません。</p>
                </div>
            </div>

            <!-- 1.15 -->
            <div class="sub-heading">1 . 1 5 . 準 拠 法 及 び 裁 判 管 轄</div>
            <!-- <div class="sub-heading">1.10.1. 非 保 証</div> -->
            <div class="terms-contnet">
                <div>
                    <p>本 利 用 規 約 の準 拠 法 は日 本 法 とし、本 サービスに関 する争 訟 は、東 京 地 方 裁 判 所を第 一 審 の専 属 的 合 意 管 轄 裁 判 所 とします。</p>
                </div>
            </div>

            <!-- 1.16 -->
            <div class="sub-heading">1 . 1 6 . 通 知 方 法</div>
            <!-- <div class="sub-heading">1.10.1. 非 保 証</div> -->
            <div class="terms-contnet">
                <div>
                    <p>
                        当 社 からの通 知 は、本 サービス上 に登 録 されたメールアドレス又 は電 話 番 号 若 しくは本 サービスの機 能 を用 いた通 知 方 法 をもって行 い、メール又 は SMS 若
                        しくは本 サービスによる通 知 が通 常 到 達 すべきときに到 達 したものとします。
                    </p>
                </div>
            </div>

            <!-- 1.17 -->
            <div class="sub-heading">1 . 1 7 . サ ー ビ ス の 廃 止</div>
            <div class="terms-contnet">
                <div>
                    <p>当 社 は、当 社 の都 合 によりいつでも本 サービスを廃 止 できるものとします。</p>
                </div>
            </div>

        </div>
        <!-- 2 -->
        <div>
            <div class="heading-title">2 利 用 コンテンツサービス</div>
            <div class="sub-heading">2 . 1 . サ ー ビ ス の 利 用</div>
            <div class="terms-contnet">
                <div>
                    <p>本 サービスは、当 社 が提 供 するサービス（ ホスログに関 連 して当 社 が提 供 する各 種 機 能 提 供 を含 みます。） について、定 めるものです。</p>
                </div>
            </div>

            <div>
                <div class="sub-heading">2 . 2 . ホ ス ロ グ の サ ー ビ ス に つ い て</div>
                <div class="terms-contnet">
                    <p style="margin-bottom:10px; font-weight:500">2.2.1. 本 サービス契 約 の成 立</p>
                </div>
                <div class="terms-contnet">
                    <p>
                        利 用 者 は、本 サービスの機 能 を利 用 して、ホストクラブに対 して予 約 を入 れ、ホストクラブが受 け付 けた時 点 で、利 用 者 と当 社 との間 にサービスに関 する契 約 （
                        以 下 「 サービス契 約 」 といいます。） が成 立 します。なお、当 社 は、利 用 者 の依 頼 に対 して ご利用 希 望 のホストクラブとのマッチングまでをサービス契 約
                        とし、ホストクラブのリアルタイムの状 況 も踏 まえ、サービス契 約 を確 約 するものではありません。従 って、利 用 者 の希 望 するホストクラブの受 付 、入 店 ができない場 合
                        であっても、当 社 は責 任 を負 いません。
                    </p>

                </div>
            </div>
        </div>
        <!-- 2nd end -->

    </div>

    <div style="color:#333;font-size:12px; font-weight:600;">抜粋重要項目</div>
    <div>
        <div class="checkmark1">
            <span>
                <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.612 15.048V6.264H9.396V15.048H0.612ZM1.056 14.604H8.952V6.708H1.056V14.604Z"
                          fill="#D75A8B" />
                    <path d="M4.508 13.528C4.508 13.42 4.496 13.372 4.448 13.372L4.172 13.504C4.172 13.444 4.136 13.408 4.076 13.384L3.98 13.372C3.896 13.372 3.86 13.384 3.74 13.456C3.704 13.384 3.656 13.3 3.62 13.228C3.308 12.628 2.984 11.728 2.84 11.332C2.768 11.128 2.696 10.708 2.612 10.072C2.708 10.132 2.78 10.156 2.816 10.156C2.864 10.156 2.924 10.072 2.972 9.904C2.996 9.94 3.044 9.952 3.104 9.952C3.14 9.952 3.188 9.94 3.212 9.904L3.404 9.616L3.62 9.688H3.632C3.656 9.688 3.692 9.652 3.752 9.616C3.812 9.58 3.86 9.556 3.896 9.556L3.932 9.568C4.124 9.664 4.256 9.832 4.316 10.096C4.46 10.708 4.592 11.008 4.748 11.008C4.88 11.008 5.06 10.852 5.252 10.552C5.444 10.252 5.636 9.844 5.852 9.352C5.864 9.448 5.876 9.496 5.9 9.496C5.972 9.496 6.152 9.076 6.596 8.368C7.256 7.3 8.888 5.248 9.308 4.96C9.62 4.744 9.86 4.54 10.028 4.36C10.004 4.48 9.98 4.564 9.98 4.6C9.98 4.636 10.004 4.648 10.028 4.648L10.364 4.48V4.528C10.364 4.588 10.376 4.624 10.412 4.624C10.46 4.624 10.652 4.432 10.676 4.36L10.652 4.528L11.06 4.288L10.964 4.504C11.084 4.42 11.18 4.372 11.24 4.372C11.3 4.372 11.336 4.468 11.336 4.528C11.336 4.624 11.252 4.756 11.12 4.924C10.976 5.116 10.616 5.488 9.536 6.724C9.068 7.252 6.992 10.072 6.596 10.744L5.852 12.004C5.528 12.544 5.324 12.892 5.216 13.024C5.108 13.156 4.976 13.288 4.82 13.408L4.712 13.348L4.616 13.408L4.508 13.528Z"
                          fill="#D75A8B" />
                </svg>
            </span>
            <p>18 歳未満ではない</p>
            <!-- <input type="checkbox" name="18 歳未満ではない" id="18"> -->
            <!-- <label class="checkmark1" for="18">18 歳未満ではない</label> -->
        </div>
        <div class="checkmark1">

            <span>
                <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.612 15.048V6.264H9.396V15.048H0.612ZM1.056 14.604H8.952V6.708H1.056V14.604Z"
                          fill="#D75A8B" />
                    <path d="M4.508 13.528C4.508 13.42 4.496 13.372 4.448 13.372L4.172 13.504C4.172 13.444 4.136 13.408 4.076 13.384L3.98 13.372C3.896 13.372 3.86 13.384 3.74 13.456C3.704 13.384 3.656 13.3 3.62 13.228C3.308 12.628 2.984 11.728 2.84 11.332C2.768 11.128 2.696 10.708 2.612 10.072C2.708 10.132 2.78 10.156 2.816 10.156C2.864 10.156 2.924 10.072 2.972 9.904C2.996 9.94 3.044 9.952 3.104 9.952C3.14 9.952 3.188 9.94 3.212 9.904L3.404 9.616L3.62 9.688H3.632C3.656 9.688 3.692 9.652 3.752 9.616C3.812 9.58 3.86 9.556 3.896 9.556L3.932 9.568C4.124 9.664 4.256 9.832 4.316 10.096C4.46 10.708 4.592 11.008 4.748 11.008C4.88 11.008 5.06 10.852 5.252 10.552C5.444 10.252 5.636 9.844 5.852 9.352C5.864 9.448 5.876 9.496 5.9 9.496C5.972 9.496 6.152 9.076 6.596 8.368C7.256 7.3 8.888 5.248 9.308 4.96C9.62 4.744 9.86 4.54 10.028 4.36C10.004 4.48 9.98 4.564 9.98 4.6C9.98 4.636 10.004 4.648 10.028 4.648L10.364 4.48V4.528C10.364 4.588 10.376 4.624 10.412 4.624C10.46 4.624 10.652 4.432 10.676 4.36L10.652 4.528L11.06 4.288L10.964 4.504C11.084 4.42 11.18 4.372 11.24 4.372C11.3 4.372 11.336 4.468 11.336 4.528C11.336 4.624 11.252 4.756 11.12 4.924C10.976 5.116 10.616 5.488 9.536 6.724C9.068 7.252 6.992 10.072 6.596 10.744L5.852 12.004C5.528 12.544 5.324 12.892 5.216 13.024C5.108 13.156 4.976 13.288 4.82 13.408L4.712 13.348L4.616 13.408L4.508 13.528Z"
                          fill="#D75A8B" />
                </svg>
            </span>
            <p>20 歳にに満たない場合は飲酒</p>

            <!-- <input type="checkbox" name="20 歳にに満たない場合は飲酒" id="20">
            <label class="checkmark1" for="20">20 歳にに満たない場合は飲酒</label> -->
        </div>
        <div class="checkmark1">
            <span>
                <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.612 15.048V6.264H9.396V15.048H0.612ZM1.056 14.604H8.952V6.708H1.056V14.604Z"
                          fill="#D75A8B" />
                    <path d="M4.508 13.528C4.508 13.42 4.496 13.372 4.448 13.372L4.172 13.504C4.172 13.444 4.136 13.408 4.076 13.384L3.98 13.372C3.896 13.372 3.86 13.384 3.74 13.456C3.704 13.384 3.656 13.3 3.62 13.228C3.308 12.628 2.984 11.728 2.84 11.332C2.768 11.128 2.696 10.708 2.612 10.072C2.708 10.132 2.78 10.156 2.816 10.156C2.864 10.156 2.924 10.072 2.972 9.904C2.996 9.94 3.044 9.952 3.104 9.952C3.14 9.952 3.188 9.94 3.212 9.904L3.404 9.616L3.62 9.688H3.632C3.656 9.688 3.692 9.652 3.752 9.616C3.812 9.58 3.86 9.556 3.896 9.556L3.932 9.568C4.124 9.664 4.256 9.832 4.316 10.096C4.46 10.708 4.592 11.008 4.748 11.008C4.88 11.008 5.06 10.852 5.252 10.552C5.444 10.252 5.636 9.844 5.852 9.352C5.864 9.448 5.876 9.496 5.9 9.496C5.972 9.496 6.152 9.076 6.596 8.368C7.256 7.3 8.888 5.248 9.308 4.96C9.62 4.744 9.86 4.54 10.028 4.36C10.004 4.48 9.98 4.564 9.98 4.6C9.98 4.636 10.004 4.648 10.028 4.648L10.364 4.48V4.528C10.364 4.588 10.376 4.624 10.412 4.624C10.46 4.624 10.652 4.432 10.676 4.36L10.652 4.528L11.06 4.288L10.964 4.504C11.084 4.42 11.18 4.372 11.24 4.372C11.3 4.372 11.336 4.468 11.336 4.528C11.336 4.624 11.252 4.756 11.12 4.924C10.976 5.116 10.616 5.488 9.536 6.724C9.068 7.252 6.992 10.072 6.596 10.744L5.852 12.004C5.528 12.544 5.324 12.892 5.216 13.024C5.108 13.156 4.976 13.288 4.82 13.408L4.712 13.348L4.616 13.408L4.508 13.528Z"
                          fill="#D75A8B" />
                </svg>
            </span>
            <p>利用規約に同意します</p>

            <!-- <input type="checkbox" name="利用規約に同意します" id="1">
            <label class="checkmark1" for="1">利用規約に同意します</label> -->
        </div>
        <div class="checkmark1">
            <span>
                <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.612 15.048V6.264H9.396V15.048H0.612ZM1.056 14.604H8.952V6.708H1.056V14.604Z"
                          fill="#D75A8B" />
                    <path d="M4.508 13.528C4.508 13.42 4.496 13.372 4.448 13.372L4.172 13.504C4.172 13.444 4.136 13.408 4.076 13.384L3.98 13.372C3.896 13.372 3.86 13.384 3.74 13.456C3.704 13.384 3.656 13.3 3.62 13.228C3.308 12.628 2.984 11.728 2.84 11.332C2.768 11.128 2.696 10.708 2.612 10.072C2.708 10.132 2.78 10.156 2.816 10.156C2.864 10.156 2.924 10.072 2.972 9.904C2.996 9.94 3.044 9.952 3.104 9.952C3.14 9.952 3.188 9.94 3.212 9.904L3.404 9.616L3.62 9.688H3.632C3.656 9.688 3.692 9.652 3.752 9.616C3.812 9.58 3.86 9.556 3.896 9.556L3.932 9.568C4.124 9.664 4.256 9.832 4.316 10.096C4.46 10.708 4.592 11.008 4.748 11.008C4.88 11.008 5.06 10.852 5.252 10.552C5.444 10.252 5.636 9.844 5.852 9.352C5.864 9.448 5.876 9.496 5.9 9.496C5.972 9.496 6.152 9.076 6.596 8.368C7.256 7.3 8.888 5.248 9.308 4.96C9.62 4.744 9.86 4.54 10.028 4.36C10.004 4.48 9.98 4.564 9.98 4.6C9.98 4.636 10.004 4.648 10.028 4.648L10.364 4.48V4.528C10.364 4.588 10.376 4.624 10.412 4.624C10.46 4.624 10.652 4.432 10.676 4.36L10.652 4.528L11.06 4.288L10.964 4.504C11.084 4.42 11.18 4.372 11.24 4.372C11.3 4.372 11.336 4.468 11.336 4.528C11.336 4.624 11.252 4.756 11.12 4.924C10.976 5.116 10.616 5.488 9.536 6.724C9.068 7.252 6.992 10.072 6.596 10.744L5.852 12.004C5.528 12.544 5.324 12.892 5.216 13.024C5.108 13.156 4.976 13.288 4.82 13.408L4.712 13.348L4.616 13.408L4.508 13.528Z"
                          fill="#D75A8B" />
                </svg>
            </span>

            <p>利用規約に同意します</p>

            <!-- <input type="checkbox" name="利用規約に同意します" id="2">
            <label class="checkmark1" for="2">利用規約に同意します</label> -->
        </div>

        <!-- <div>
            <input type="checkbox" name="rememberMe "
                class="checkBox focus:outline-none bg-transparent ring-offset-0 ring-0 focus:ring-0 focus:ring-transparent focus:ring-shadow-none"
                id="rememberMe">
            <label for="rememberMe" class="rememberMe">ログインしたままにする</label>
        </div> -->
    </div>
