@{
    ViewBag.Title = "利用規約 ‖ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    var MetaClubCount = ViewBag.MetaClubCount;
    var MetaHostCount = ViewBag.MetaHostCount;
    var metaContent = $"業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びが簡単に☆接客リクエストで推しホストに出会いやすい！歌舞伎町を中心に全国から厳選した{MetaClubCount}件のホストクラブ・{MetaHostCount}人のホスト情報を掲載中！";
}
<meta name="description" content="@metaContent">

<style>
    .reading-instruction {
        font-size: 12px;
        color: #333;
        font-weight: 400;
        margin: 8px 0;
    }

    .heading-title {
        text-overflow: ellipsis;
        color: #D75A8B;
        font-size: 16px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .sub-heading {
        color: var(--primary-text, #18181B);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .points {
        color: var(--Secondary-Text-I, #333);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .terms-contnet {
        color: #333333;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 4px;
        margin-bottom: 8px;
    }

    .rememberMe {
        color: #000;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.4px;
    }

    .checkBox {
        border: 0.5px solid #D9D9D9;
        border-radius: 1.5px;
        color: #D75A8B;
    }

    .checkmark1 {
        display: flex;
        gap: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
    }
</style>

<!-- breadcrum -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="/" class="active">TOP</a>
    <i class="las la-angle-right"></i>
    <a href="#">ホスログ利用規約</a>
</div>
<div class=" py-[16px] flex flex-row justify-center font-[600] text-[24px] leading-[38px] text-[#101828]" style="background-color: #FFFBFD; height: 62px;">
    ホスログ利用規約
</div>

<div class="mx-4 mt-4 pb-8">
    <div class="text-[13px] font-[400] ">
        以下はホスログを利用するにあたりに適用される規約です。必ずお読みください。
    </div>

    <div>

        <div class="heading-title">
            1 総則
        </div>

        <div>
            <span class="sub-heading">1.1. 適用・変更</span>
            <div>
                <span class="points">(1) 規約の適用</span>
                <div class="terms-contnet">
                    本利用規約は、株式会社EOT（以下「当社」といいます。）が運営するホストクラブ情報紹介・ネット予約サービス「ホスログ（以下「ホスログ」といいます。）
                    」のサービスコンテンツ（以下「本サービス」といいます。）により提供される、本サービスを利用するすべての方（以下「利用者」といいます。）と当社との間に適用されます。
                </div>
            </div>


            <span class="sub-heading">1.2. 利用契約</span>
            <div>

                <div>
                    <span class="points">(1)利用契約の成立</span>
                    <div class="terms-contnet">
                        利用者は、本利用規約の内容に同意の上、本サービスを利用するものとします。利用者が当該同意を行った時点で、当社と利用者の間に本利用規約を内容とする契約（以下「利用契約」といいます。）が成立します。
                    </div>
                </div>

                <div>
                    <span class="points">(2)20歳未満の方、未成年者飲酒禁止法の対象になる者の利用</span>
                    <div class="terms-contnet">
                        20歳未満の方は、本サービスの利用及びアカウントの登録をすることはできません。また、20歳未満の方の飲酒は未成年者飲酒禁止法により禁じられております。
                        虚偽による20歳未満の方の利用及びアカウントの登録、飲酒によるトラブルについては当事者間で解決するものとし、当社はその一切の責任を負わないものとします。
                    </div>
                </div>

                <div>
                    <span class="points">(3)利用アカウント</span>
                    <div class="terms-contnet">
                        利用者は、当社所定の情報（認証情報等も含み、以下「登録情報」といいます。）
                        を日本国内で登録の上、本サービスのアカウントを作成する必要があります。当社は、登録情報を利用して行われた一切の行為を利用者自身の責任とみなします。<br />
                        なお、当社は、本サービス以外で当社及び関連会社が提供するサービスにおいても、登録情報及び本サービスのアカウントの登録情報を利用する場合があります。
                    </div>
                </div>


                <div>
                    <span class="points">(4)利用契約の終了</span>
                    <div class="terms-contnet">
                        利用者は、当社所定の手続きに従いいつでも利用契約を終了することができます。但し、当社が定める禁止行為が一定の限度を超えた場合は、当社から強制的かつ一方的に利用契約の終了ができるものとし、
                        登録情報その他の本サービスに関わる情報は閲覧できなくなります。
                    </div>
                </div>
            </div>


        </div>
        @*1.2 end*@

        @*1.3 start*@

        <div>
            <span class="sub-heading">
                1.3. 表明及び保証並びに誓約
            </span>

            <div class="terms-contnet">
                <span>
                    利用者は、以下の事項を表明及び保証するものとします。
                </span>

                <div class="" style="padding-left:28px;">
                    <ol class="" style="list-style:auto;">
                        <li>
                            反社会的勢力等（暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等、
                            その他これらに準ずる者を意味します。以下同じです。）ではないこと又はなかったこと。
                        </li>
                        <li>
                            資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っていないこと又はなかったこと。
                        </li>
                        <li>
                            反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行わないこと又はなかったこと。
                        </li>

                        <li>
                            登録情報が利用者自身の情報であること。
                        </li>
                        <li>
                            登録情報が真実、正確かつ完全な情報であり、常に最新であること。
                        </li>
                        <li>
                            本サービスのアカウントを不正に利用されないために利用者自身で厳重に管理すること。
                        </li>
                        <li>
                            年齢が20歳未満ではないこと。
                        </li>
                    </ol>


                </div>
            </div>
        </div>

        @*1.3 end*@

        @*1.4 start*@

        <div>
            <span class="sub-heading">
                1.4. 本サービスの利用
            </span>
            <div class="terms-contnet">
                利用者は、本利用規約及び当社の定める方法に従い、本サービスを利用するものとします。
            </div>
        </div>

        @*1.4 end*@

        @*1.5 start*@

        <div>
            <span class="sub-heading">
                1.5. 料金及び支払方法
            </span>
            <div class="terms-contnet">
                利用者は、本サービスを経由し、当社もしくは対象のホストクラブに料金を支払うものとします。当社への事前決済にはクレジットカード、
                対象のホストクラブで直接支払う場合には対象のホストクラブにて予め準備されている支払方法（現金、クレジットカード、QR決済、交通系カード等）で料金を支払うものとします。
            </div>
        </div>

        @*1.5 end*@

        @*1.6 start*@

        <div>
            <span class="sub-heading">
                1.6. 禁止行為
            </span>

            <div class="terms-contnet">
                <span>
                    利用者は、本サービスの利用にあたり、以下のいずれかに該当する又はそのおそれがある行為をしてはなりません。
                </span>

                <ol class="" style="list-style: auto; padding-left: 28px;">
                    <li>
                        直接か間接かを問わず、当社及び本サービスで紹介するホストクラブ、他の利用者その他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為
                    </li>
                    <li>
                        虚偽の依頼行為
                    </li>
                    <li>
                        利用者が本サービスを介してホストクラブへの予約を完了した後、予約時間までの間にキャンセル手続きを繰り返す行為及び無断キャンセル
                    </li>
                    <li>
                        ホストクラブへの危険物、違法となる所持物の持ち込み行為
                    </li>

                    <li>
                        犯罪行為に関連する行為又は公序良俗に反する行為
                    </li>

                    <li>
                        法令、裁判所の判決、決定若しくは命令、法令上拘束力のある行政措置又は当社若しくは利用者が所属する業界団体の内部規則に違反する行為
                    </li>
                    <li>
                        コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為
                    </li>

                    <li>
                        本サービスに関し利用しうる情報を改ざんする行為
                    </li>
                    <li>
                        本サービスの運営を妨害する行為
                    </li>
                    <li>
                        本サービスと当社が保有するサーバー及びこれらが生成する情報通信内容等の解読、解析、逆コンパイル、逆アセンブル又はリバースエンジニアリングを行う行為
                    </li>
                    <li>
                        他の個人若しくは団体になりすまし、又は他の個人若しくは団体と関係があるように不当に見せかける行為
                    </li>
                    <li>
                        本サービスのバグ、誤動作を利用する行為
                    </li>
                    <li>
                        本サービスその他当社が営利法人に対して提供するサービスで明確に認められた行為を除き、本サービスを営利目的で利用する行為
                    </li>
                    <li>
                        本サービスのアカウントを第三者に利用させ、又は貸与、譲渡、売買、質入その他の処分をする行為
                    </li>
                    <li>
                        日本国外で本サービス上に自己の情報を登録する行為
                    </li>
                    <li>
                        その他、当社が不適切と合理的に判断する行為
                    </li>
                </ol>
            </div>
        </div>

        @*1.6 end*@


        @*1.7 start*@

        <div>
            <span class="sub-heading">
                1.7. 予約のキャンセルについて
            </span>

            <div class="terms-contnet flex flex-col gap-1">
                <span class="points">
                    (1)予約の変更・取り消し処理
                </span>
                <span>
                    利用者は、本サービスを通じて店舗にリクエストした予約を、予約日時前まではマイページの予約履歴及び店舗への直接の電話連絡により変更または取り消すことができます。
                </span>
                <span>
                    ただし、変更・取り消しについては1週間に5回までとし、それを超える場合には制限回数を超えた日から起算し15日間は本サービスを通じての新規予約ができない措置が適用されるものとします。
                </span>
            </div>


            <div>
                <span class="points">
                    (2)予約の無断キャンセル
                </span>

                <div class="terms-contnet">
                    <span>
                        利用者は、本サービスを通じて店舗にリクエストした予約を、予約日時前までにマイページの予約履歴及び店舗への直接の電話連絡により変更または取り消すことなく、
                        その理由の如何を問わず1週間に3回以上の無断キャンセルを行った場合、利用者には以下の措置が適用されるものとします。
                    </span>

                    <ol class="" style="list-style: auto; padding-left: 28px;">
                        <li>
                            制限回数を超えた日から起算し15日間は本サービスを通じての新規予約ができなくなります。
                        </li>
                        <li>
                            と同様の無断キャンセル行為を通算3回繰り返した場合、利用者のアカウントは永久に凍結され退会扱いとなります。
                            マイページ上のデータ復旧やアカウントの再開には一切応じず、これにより利用者が被る不利益について当社は一切の責任を負わないものとします。
                        </li>
                    </ol>
                </div>

            </div>

        </div>

        @*1.7 end*@

        @*1.8 start*@

        <div>

            <span class="sub-heading">
                1.8. 権利帰属
            </span>

            <div class="terms-contnet">
                <span>
                    利用者は、本サービスに関する権利帰属につき、以下の事項に同意します。
                </span>

                <ol class="" style="list-style: auto; padding-left: 28px;">
                    <li>
                        本サービス（本サービス上に表示されるアイコン、数値、データを含みますが、これらに限られません。以下同じです。）
                        に関する所有権及び知的財産権その他の財産権はすべて当社又は当社にライセンスを許諾している者に帰属しており、本利用規約で明示されている場合を除き、利用者に対して財産権の譲渡又は利用を許諾しません。
                    </li>
                    <li>
                        本サービスにおいて、利用者が投稿その他送信を行った文章、画像、動画その他のデータ
                        （以下「投稿データ」といいます。）は、当社が無償で自由に利用（複製、複写、改変、第三者への再許諾その他のあらゆる利用を含みます。）することができるものとします。
                    </li>
                    <li>
                        利用者は、当社に対して、投稿データに関する著作者人格権等の権利を行使しないものとします。
                    </li>
                    <li>
                        当社は、投稿データが法令若しくは本利用規約に違反又は違反するおそれがある場合、その他業務上合理的な必要がある場合には、
                        予め利用者に通知することなく、投稿データを削除、変更する等合理的な措置を講じることができます。
                    </li>
                </ol>

            </div>

        </div>


        @*1.9start*@

        <div>

            <span class="sub-heading">
                1.9. 個人情報
            </span>
            <div class="terms-contnet">
                <span>
                    利用者は、本サービスに関する個人情報につき、以下の事項に同意します。
                </span>

                <ol class="" style="list-style: auto; padding-left: 28px;">

                    <li>
                        当社が本サービスの提供に伴って取得した利用者の個人情報（個人情報の保護に関する法律に定める個人情報、メールアドレス及び利用者の位置情報も含みます。以下同じです。）
                        については、当社が別途定めるプライバシーポリシーに従って取扱うものとし、利用者は、これに同意するものとします。
                    </li>
                    <li>
                        利用者は、当社に対して、サービスの実現及び本利用規約に定めるホストクラブへ予約を完了するために必要な範囲で、自己の個人情報のうち当社が指定する情報をホストクラブ及びその他の事業者に提供することを委託するものとし、
                        当社は利用者に代わって利用者の個人情報をホストクラブ及びその他の事業者に提供するものとします。
                    </li>
                </ol>
            </div>
        </div>


    </div>

    @*1.10 start*@

    <div class="terms-contnet">
        <span class="sub-heading">
            1.10. 利用者の賠償責任
        </span>
        <div class="">
            利用者は、本サービスに関する賠償責任につき、以下の事項に同意します。
        </div>
        <ol style="list-style:auto; padding-left:28px">
            <li>
                利用者は、本利用規約に違反し又は本サービスの利用に関連して当社に損害を与えた場合、当社に対しその損害を賠償しなければなりません。
            </li>
            <li>
                利用者が、本サービスの利用に関連して、ホストクラブ、他の利用者その他の第三者からクレームを受け又はそれらの者との間で紛争が生じた場合には、利用者の費用と責任において当該クレーム又は紛争を処理するものとします。
            </li>
        </ol>

        <div class="points">
            (1) 利用者による本サービスの利用に関連して、当社が、ホストクラブ、他の利用者その他の第三者から権利侵害その他の理由により何らかの請求又は申し立てを受けた場合は、
            利用者は当該請求に基づき当社が当該第三者に支払いを余儀なくされた金額を賠償しなければなりません。
        </div>
    </div>

    @*1.11 start*@

    <div>
        <span class="sub-heading">
            1.11. 当社の免責等
        </span>
        <div>
            <span class="points">
                (1)非保証
            </span>
            <div class="terms-contnet">
                本サービスは現状有姿で提供されるものであり、当社は本サービスに関するセキュリティ等に関する欠陥、エラー、バグ、権利侵害、安全性および信頼性がないこと（以下「瑕疵等」といいます。）、
                並びに正確性、完全性、有効性、特定目的への適合性及び商業的有用性について、明示的にも黙示的にも一切保証せず、また、瑕疵等を除去して利用者に本サービスを提供する義務を負いません。
            </div>
        </div>
    </div>

    @*1.12 start*@

    <div>
        <span class="sub-heading">
            1.12. 利用停止等
        </span>
        <div class="terms-contnet">
            <span>
                当社は、利用者が以下のいずれかに該当する場合又はそのおそれがある場合、利用者に事前に通知することなく、本サービスの提供の全部又は一部を停止又は中断することができるものとします。
            </span>

            <ol style="list-style:auto; padding-left:28px;">

                <li>
                    本利用規約又は個別規約のいずれかの条項に違反した場合
                </li>
                <li>
                    当社、他の利用者その他の第三者に損害を生じさせるおそれのある目的又は方法で本サービスを利用した、又は利用しようとした場合
                </li>
                <li>
                    手段の如何を問わず、本サービスの運営を妨害した場合
                </li>
                <li>
                    死亡した場合
                </li>
                <li>
                    本サービスを利用せずに1年以上が経過した場合
                </li>
                <li>
                    当社によって、過去に本サービス又は当社が提供する他のサービスの利用を停止されたことがある場合
                </li>
                <li>
                    ホストクラブにて料金等を支払わない場合
                </li>
                <li>
                    ホストクラブ及び他の利用者に対し迷惑な行為を行ったと当社が合理的に判断した場合
                </li>
                <li>
                    その他、当社が利用者としての登録の継続を適当でないと合理的に判断した場合
                </li>
            </ol>
        </div>
    </div>

    @*1.13 start*@

    <div>
        <span class="sub-heading">
            1.13. 本サービスの停止
        </span>

        <div class="terms-contnet">
            <span>
                当社は、以下のいずれかに該当する場合には、利用者に事前に通知することなく、本サービスの提供の全部又は一部を停止又は中断することができるものとします。
            </span>

            <ol style="list-style:auto; padding-left:28px;">
                <li>
                    本サービスに係るコンピューター・システム（本サービスに係るサーバーを含みます。）の点検又は保守作業を定期的又は緊急に行う場合
                </li>
                <li>
                    コンピューター、通信回線等が事故により停止した場合
                </li>
                <li>
                    火災、停電、天災地変等の不可抗力により本サービスの提供ができなくなった場合
                </li>
                <li>
                    その他、当社が停止又は中断を必要と判断した場合
                </li>
            </ol>

        </div>
    </div>

    @*1.14 start*@
    <div>
        <span class="sub-heading">
            1.14. 有効期間
        </span>
        <div class="terms-contnet">
            利用契約は、利用契約が成立したときから利用者又は当社がアカウントを削除した日、又は本サービスの提供が終了した日のいずれか早い日まで、当社と利用者との間で有効に存続するものとします。
        </div>
    </div>

    <div>
        <span class="sub-heading">
            1.15. 譲渡禁止
        </span>
        <div class="terms-contnet">
            利用者は、利用契約に係る権利及び義務を第三者に移転、譲渡、担保に供する等をすることができません。
        </div>
        <div>
            <span class="sub-heading">
                1.16. 準拠法及び裁判管轄
            </span>
            <div class="terms-contnet">
                本利用規約の準拠法は日本法とし、本サービスに関する争訟は、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
            </div>
        </div>
        <div>
            <span class="sub-heading">
                1.17. 通知方法
            </span>
            <div class="terms-contnet">
                当社からの通知は、本サービス上に登録されたメールアドレス又は電話番号若しくは本サービスの機能を用いた通知方法をもって行い、メール又はSMS若しくは本サービスによる通知が通常到達すべきときに到達したものとします。
            </div>
        </div>
        <div>
            <span class="sub-heading">
                1.18. サービスの廃止
            </span>
            <div class="terms-contnet">
                当社は、当社の都合によりいつでも本サービスを廃止できるものとします。
            </div>
        </div>
    </div>


    @*2 start*@

    <span class="heading-title">
        2 利用コンテンツサービス
    </span>
    <div>

        @*2.1 st*@
        <span class="sub-heading">
            2.1. サービスの利用
        </span>

        <div class="terms-contnet">
            本サービスは、当社が提供するサービス（ホスログに関連して当社が提供する各種機能提供を含みます。）について、定めるものです。
        </div>
    </div>

    @*2.2 st*@

    <div>
        <span class="sub-heading">
            2.2. ホスログのサービスについて
        </span>
        <div class="terms-contnet">
            <span class="points">
                (1)本サービス契約の成立
            </span>

            <div class="flex flex-col gap-1 pl-3">
                <span>
                    利用者は、本サービスの機能を利用して、ホストクラブに対して予約を入れ、ホストクラブが受け付けた時点で、利用者と当社との間にサービスに関する契約（以下「サービス契約」といいます。）が成立します。
                </span>
                <span>
                    なお、当社は、利用者の依頼に対して利用希望のホストクラブとのマッチングまでをサービス契約とし、ホストクラブのリアルタイムの状況も踏まえ、サービス契約を確約するものではありません。従って、利用者の希望するホストクラブの受付、入店ができない場合であっても、当社は一切の責任を負いません。
                </span>
            </div>
        </div>
    </div>

    @*3 start*@

    <span class="heading-title">
        3 ホスログポイント
    </span>
    @*3.1 startt*@
    <div>
        <span class="sub-heading">
            3.1 ポイントの定義
        </span>

        <div class="terms-contnet">
            当社における「ポイント」とは、本サービスにおいて提供される予約プランまたはオンラインギフト券または提携先サービス
            （美容整形クリニック、審美歯科クリニック、美容室、飲食店等）および交換可能な当社の提供する事前決済手段やこれに類するもののことをいいます。
        </div>
    </div>
    <div>
        <span class="sub-heading">
            3.2 ポイントの付与
        </span>

        <div class="terms-contnet">
            ホスログポイントは、本サービスを介してホストクラブを予約した場合、友人を紹介した場合、各種キャンペーン等、その他の当社が指定する方法によりその還元率に応じて利用者のアカウントに付与されます。
        </div>
    </div>
    <div>
        <span class="sub-heading">
            3.3 ポイントの交換条件
        </span>

        <div class="terms-contnet">
            ホスログポイントは、当社が指定するサービスまたはコンテンツにのみ適用され、同等額の現金、財物その他の経済上の利益との交換は一切できません。ホスログポイントの交換に必要なポイント数や詳細な条件については当社が定め、本サービスウェブサイトならびに利用者のアカウントにて掲示します。
        </div>
    </div>
    <div>
        <span class="sub-heading">
            3.4 ポイントの権利
        </span>

        <div class="terms-contnet">
            ホスログポイントは、これを取得した利用者のアカウントでのみ有効です。また、複数の異なる端末機器、既にアカウント停止(削除)処理されたアカウントに付与されたホスログポイントは、同一名称であってもこの権利について承継や合算はいたしかねます。
        </div>
    </div>

    @*end*@
</div>