.language-option {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    display: flex;
    height: 48px;
    padding: 16px;
    font-weight: 600;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    cursor: pointer;
}

    .language-option .circle-active {
        display: none;
    }

    .language-option .circle {
        display: block;
    }

    .language-option.active .lang {
        color: black;
    }

    .language-option.active {
        border: 1px solid var(--primary, #d75a8b);
        color: var(--primary);
        font-weight: 600;
    }

        .language-option.active .circle-active {
            display: block;
        }

        .language-option.active .circle {
            display: none;
        }

#container-main {
    position: relative;
}

#fixedpos {
    position: absolute;
    bottom: 32px;
    justify-content: center;
    left: 0;
    right: 0;
    width: 90%;
    padding-left: 16px;
    padding-right: 16px;
}

.photocontainer {
    height: 64px;
    width: 64px;
    position: relative;
}

.profileimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.editoption {
    margin-left: 44px;
    margin-top: 44px;
    height: 24px;
    width: 24px;
    border-radius: 55px;
    justify-items: center;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

#hostcontainer {
    height: 180px;
    width: 128px;
    position: relative;
}

#hostimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#fav {
    z-index: 1;
    position: relative;
    margin-left: 90px;
    border-radius: 55px;
    justify-items: center;
}

#camera {
    padding-top: 4px;
    margin-left: 2px;
    color: #8d8d8d;
}
/* Style the tab */
.toggle .wrapper {
    background-color: white;
    color: black;
}

.toggle .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.toggle button {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid #efefef;
    /* transition: 0.5s; */
}

    .toggle button:hover {
        background-color: #d5e3ff;
    }

    .toggle button.active {
        background-color: white;
        border-bottom: 4px solid var(--Darker_Primary, #d75a8b);
    }

.toggle .active {
    background-color: white;
    border-color: #e3a1a1;
}

.toggle p {
    text-align: left;
}

.toggle .content {
    display: none;
}

    .toggle .content.active {
        display: block;
    }

.buttonIn {
    position: relative;
}

    .buttonIn input {
        margin: 0px;
        padding: 21px;
        width: 100%;
        outline: none;
        height: 30px;
        border-radius: 5px;
    }

    .buttonIn button {
        position: absolute;
        top: 0;
        border-radius: 5px;
        right: 0px;
        z-index: 2;
        border: none;
        top: 8px;
        padding-right: 7px;
        height: 30px;
        cursor: pointer;
        color: white;
    }

.searchbutton .wrapper {
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.searchbutton .buttonWrapper {
    display: grid;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--1_Creamy_Beige_Secondary, #efefef);
}

#toglbutton {
    font-size: 14px;
    height: 32px;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

#toglbutton2 {
    font-size: 14px;
    height: 32px;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

/* .searchbutton #toglbutton  {
  width:126px;
  height: 19px;
  font-size: 14px;
  padding: 10px 26px;
  align-items: center;
justify-content: center;
align-items: center;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 10px;
 
  cursor: pointer;
} */
/* .searchbutton #toglbutton2  {
  width:160px;
  padding: 10px 26px;
  align-items: center;
justify-content: center;
align-items: center;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 10px;
 
  font-size: 18px;
  cursor: pointer;
} */

.searchbutton button:hover {
    background-color: #d5e3ff;
}

.searchbutton button.active {
    border: 1px solid #d75a8b;
    background-color: #d75a8b;
    color: #d75a8b;
    color: white;
}

.searchbutton .active {
    background-color: white;
}

.searchbutton p {
    text-align: left;
}

.searchbutton .content {
    display: none;
}

    .searchbutton .content.active {
        display: block;
    }

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--Secondary-Text-I, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: white;
    border: 2px solid;
    border-color: #efefef;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background: #d75a8b;
    border-radius: 3px;
    border: 0px solid;
    border-color: #efefef;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background: #d75a8b;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #d75a8b;
}

.boxedthird {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

    .boxedthird label {
        display: flex;
        flex-direction: row;
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 32px;
        border: solid 1px #e6e6e6;
        border-radius: 50px;
        justify-content: center;
        padding: 5px 8px;
    }

#dayicon,
#nighticon {
    padding-bottom: 4px;
}

.boxedthird input[type="radio"] {
    display: none;
}

    .boxedthird input[type="radio"]:checked + label {
        fill: white;
        color: white;
        background: var(--Day, #697dbf);
    }

        .boxedthird input[type="radio"]:checked + label svg {
            fill: white;
        }

.boxedsecond {
    display: flex;
    justify-content: space-between;
}

    .boxedsecond label {
        display: flex;
        flex-direction: row;
        padding-top: 2px;
        width: 100px;
        height: 32px;
        border: solid 1px #e6e6e6;
        border-radius: 50px;
        justify-content: center;
        line-height: 2;
    }

    .boxedsecond input[type="radio"] {
        display: none;
    }

        .boxedsecond input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.boxedblood {
    display: flex;
    justify-content: space-between;
}

    .boxedblood label {
        display: flex;
        flex-direction: row;
        width: 170px;
        height: 32px;
        padding-left: 21px;
        padding-right: 21px;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        justify-content: center;
        line-height: 2;
    }

    .boxedblood input[type="radio"] {
        display: none;
    }

        .boxedblood input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.boxedconstellation {
    display: flex;
    justify-content: space-between;
}

    .boxedconstellation label {
        display: flex;
        flex-direction: row;
        height: 32px;
        padding-left: 21px;
        padding-right: 21px;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        justify-content: center;
        line-height: 2;
    }

    .boxedconstellation input[type="radio"] {
        display: none;
    }

        .boxedconstellation input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.select-search-raido {
    display: flex;
    justify-content: space-between;
}

    .select-search-raido label {
        display: flex;
        flex-direction: row;
        height: 32px;
        padding-left: 21px;
        padding-right: 21px;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        justify-content: center;
        line-height: 2;
    }

    .select-search-raido input[type="radio"] {
        display: none;
    }

        .select-search-raido input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.search-field-selection {
    display: flex;
    justify-content: space-between;
}

    .search-field-selection label {
        display: flex;
        flex-direction: row;
        height: 32px;
        padding: 8px 10px;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        justify-content: center;
        font-size: 12px;
        align-items: center;
    }

    .search-field-selection input[type="radio"] {
        display: none;
    }

        .search-field-selection input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.boxedliquor {
    display: flex;
    justify-content: space-between;
}

    .boxedliquor label {
        display: flex;
        flex-direction: row;
        height: 32px;
        padding-left: 21px;
        padding-right: 21px;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        justify-content: center;
        line-height: 2;
    }

    .boxedliquor input[type="radio"] {
        display: none;
    }

        .boxedliquor input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.boxedoccupation {
    display: flex;
    justify-content: space-between;
}

    .boxedoccupation label {
        display: flex;
        flex-direction: row;
        height: 32px;
        padding-left: 21px;
        padding-right: 21px;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        justify-content: center;
        line-height: 2;
    }

    .boxedoccupation input[type="radio"] {
        display: none;
    }

        .boxedoccupation input[type="radio"]:checked + label {
            border: solid 1px #d75a8b;
            color: #d75a8b;
        }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .modal-content {
        max-width: 100%;
        width: 100%;
    }
}

.new-host-card {
    border-radius: 4px;
    border: 1px solid #f3f3f3;
    background: #fff;
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}

    .new-host-card .image img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        border: 1px solid #f1eeee;
    }

    .new-host-card .title {
        color: #292f33;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90px;
        padding-bottom: 4px;
    }

    .new-host-card .description {
        color: #404040;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90px;
    }

.hosts-that-match-you {
    height: 154px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

    .hosts-that-match-you img {
        height: 154px;
        border-radius: 2px;
        overflow: hidden;
        object-fit: fill;
        width: 100%;
    }

    .hosts-that-match-you .description {
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        height: 35px;
        padding: 4px 0px 6px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       /* gap: 4px;*/
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: -webkit-fill-available;
    }

        .hosts-that-match-you .description .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90px;
            color: #fff;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 0px 5px;
        }

        .hosts-that-match-you .description .club-name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            white-space: nowrap;
            width: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90px;
            color: #fff;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: inherit;
            padding: 0px 5px;
        }

            .hosts-that-match-you .description .club-name img {
                width: 10px;
                height: 10px;
                border-radius: 11px;
                border: 0.25px solid rgba(250, 250, 250, 0.7);
            }

    .hosts-that-match-you .like-host {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 2;
    }

        .hosts-that-match-you .like-host .inActive-svg {
            display: block;
        }

        .hosts-that-match-you .like-host .active-svg {
            display: none;
        }

    .hosts-that-match-you.active .like-host .inActive-svg {
        display: none;
    }

    .hosts-that-match-you.active .like-host .active-svg {
        display: block;
    }

.map-tab-container {
    display: flex;
    border-radius: 8px;
    height: 36px;
    width: 100%;
    border: 1px solid #d75a8b;
    overflow: hidden;
}

    .map-tab-container .map-tab {
        display: flex;
        padding: 8px 4px;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #d75a8b;
    }

        .map-tab-container .map-tab.active {
            background-color: #d75a8b;
            color: #fff;
        }

.map-card {
    border-radius: 10px;
    background: #fff;
    padding: 12px;
    /* shadow/1 */
    box-shadow: -2px 2px 14px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
}

.input-search-wrapper .input-search {
    display: flex;
    padding: 10px 14px 10px 44px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--White, #fff);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 100%;
}

.ui-datepicker {
    width: 95% !important;
    background-color: #fbf8f8;
    padding: 12px;
    position: relative !important;
    top: unset !important;
    left: unset !important;
    border: none !important;
    /* font-family: "Noto Sans", sans-serif;*/
    font-family: "yu-gothic-pr6n", sans-serif;
    font-size: 14px;
    display: block !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #d75a8b !important;
    background: #d75a8b !important;
    color: #ffffff !important;
    border-radius: 5px;
}

.ui-state-default {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: none !important;
    background: inherit !important;
    font-weight: normal;
    color: #454545;
    height: 36px;
    width: 36px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fbf8f8 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #d75a8b !important;
    background: inherit !important;
    font-weight: normal;
    color: #d75a8b !important;
    text-align: center;
    border-radius: 5px;
}

.ui-widget-header {
    border: none;
    background-color: inherit !important;
}

.ui-datepicker .ui-datepicker-title {
    text-align: left;
    margin: 0px;
    color: #44464f;
    /* font-family: "Noto Sans JP";*/
    font-family: "yu-gothic-pr6n", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.ui-datepicker .ui-datepicker-prev {
    right: 30px;
    left: unset !important;
}

.ui-datepicker .ui-datepicker-next {
    background-image: url("../../Content/assets/images/navigate_next.svg");
    width: 16px;
    height: 16px;
}

    .ui-datepicker .ui-datepicker-next span {
        background-image: url(../../Content/assets/images/navigate_next.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

.ui-datepicker .ui-datepicker-prev span {
    background-image: url(../../assets/images/navigate_before.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-datepicker th:last-child {
    color: #d75a8b;
}

.ui-datepicker th:nth-last-child(2) {
    color: #697dbf;
}

#selectedDateBtn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #d75a8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
